openapi: 3.0.3
info:
  title: Unit21 API Endpoints
  description: |
    Every endpoint available to consumers of the Unit21 API.
  version: '1.0'
  contact:
    name: Unit21
    url: https://unit21.ai
x-readme:
  proxy-enabled: false
servers:
  - url: https://sandbox1-api.unit21.com/v1
    description: Sandbox1 server for testing
  - url: https://rtr.sandbox1.unit21.com
    description: Sandbox1 server for RTR testing
  - url: https://sandbox2-api.unit21.com/v1
    description: Sandbox2 server for testing
  - url: https://api.unit21.com/v1
    description: Production1 server
  - url: https://rtr.prod1.unit21.com
    description: Production1 RTR server
  - url: https://api.prod2.unit21.com/v1
    description: Production2 server
security:
  - ApiKeyAuth: []
tags:
  - name: Entities API
    description: |
      _Entities_ are typically businesses or users that have transactions on your platform.  The `/entities` endpoint can create, list, and update entities.
  - name: Instruments API
    description: |
      Instruments represent any physical, digital, or logical intermediary between an entity and a transaction event. Instruments can also represent digital or tech items such as phones, laptops, servers, printers or even company cars. The `/instruments` endpoint can create, list, and update instruments. 
  - name: Devices API
    description: |
      Devices representing any computer or physical device used to execute an event. Devices are most suitable when events can be traced back to a specific device fingerprint. The `/devices` endpoint can create, list, and update instruments. 
  - name: Events API
    description: |
      Events have two types, _transaction events_  and _action events_:
      * Transaction events are any monetary flow that is sent or received by an entity on your system.
      * Action events are non-monetary changes of state that occur on your system, e.g. user logins. The `/events` endpoint sends and receives data about significant actions that occur with an entity or instrument on your system.  
  - name: Agents API
    description: |
      Agents are your organization's members who use the Unit21 system to investigate suspicious objects and events. The `/agents` endpoint can list your agents. 
  - name: Rules API
    description: |
      Rules are the model logic that will find fraudulent and suspicious transactions and actions. Rules create alerts that can turn into cases with flagged entities, transactions and instruments. The `/rules` endpoint can get and list rules. 
  - name: Alerts API
    description: |
      Alerts have two origins. Typically, alerts are generated whenever a Unit21 detection tool (like a rule) flags an object, like an entity. However, your organization can also send alerts generated from your in-house detection systems. The `/alerts` endpoint can create, list, and update alerts. 
  - name: Cases API
    description: |
      Cases are usually active investigations, which may span multiple events, entities and documents. They can be directly escalated into a suspicious activity report. The `/cases` endpoint can create, list, and update cases. 
  - name: Sars API
    description: |
      Sars are cases that have been investigated and turned into a Suspicious Activity report with the intent to file it to FinCen. The `/sars` endpoint can get and list sars. 
  - name: Entity Verification API
    description: |
      Unit21 can execute entity verifications according to steps defined in system workflows. They can run when a new entity is added to the system, an update is made to an existing entity, or by directly triggering an API endpoint.
  - name: Verification Forms API
    description: |
      With verification forms, you can automate ID verification and user collection. To gather user input, the `verification forms` endpoint creates a URL. This URL is only valid for a specified period of time.
  - name: Webhooks API
    description: |
      Whenever an event happens on the Unit21 platform, Unit21 can send a webhook about the event to whatever URL you configure. Such events include entity verification results, generated alerts, case re-openings and closings, etcetera.
  - name: Matchlists API
    description: |
      Matchlists comprise one of the following categories:
        * of entities (users or business)
        * IPs (single or ranges)
        * strings
  - name: Exports API
    description: |
      If you want to download files requested via the dashboard or the bulk export endpoints. The `/file-exports` endpoint can get and list sars. 
  - name: Datafiles API
    description: |
      If you want to bulk upload multiple objects, you can send them via a POST to the `/datafiles` endpoint. For the fastest processing, the datafile SHOULD be a JSON file in the format of a typical POST request to this API.
  - name: Import API
    description: |
      If you want to upload a file with a lot of information in it, you can send them via a POST to a custom URL. You can request this URL via a POST to the `/datafiles` endpoint.  For the fastest processing, the file SHOULD be JSON or CSV.
paths:
  /entities/create:
    post:
      tags:
        - Entities API
      summary: Create an entity
      operationId: create_entity
      description: |
        Creates a new entity, sending entity data in the request body. 

        If the `/entities/create` API is called for an entity that already exists in our system, it is treated it as an [upsert](https://docs.unit21.ai/reference/should-i-update-or-upsert) and an update on the existing entity is performed. However, Unit21 selectively ignores upserts if the request is identical to a previous request. 

        If you want to perform strict validation and not perform an upsert on conflict, specifying `options.upsert_on_conflict: false` will prevent the request from overwriting an existing entity.

        Updates to an entity's `general_data.entity_id` are not allowed. 

        Use this endpoint to turn a [placeholder](https://docs.unit21.ai/reference/placeholder-objects) entity into an entity in the Unit21 system.

        Whitelisted entities cannot be updated through the `/entities/create` endpoint. 

        Instruments can be associated with entities by providing the IDs of these instruments within the `instrument_ids` section of the request. If the instrument doesn't already exist, Unit21 creates a [placeholder](https://docs.unit21.ai/reference/placeholder-objects) instrument.

        We recommend that you create entities prior to running verification. In the event you wish to run a verification on an entity immediately, Unit21 recommends that you wait at-least 2 minutes for your entity data to be fully processed. You will receive a **423 error code** if an entity is *busy*. When a 200 response is received, the data has been successfully stored on the Unit21 backend; however, it may take a few additional seconds to process that data so that it becomes available in subsequent API calls, in the frontend UI, and/or for verification purposes.

        Follow the links for more information:
          - [Relationships](https://docs.unit21.ai/reference/relationships)
          - [Endpoint options](https://docs.unit21.ai/reference/endpoint-options)
          - [Verification options](https://docs.unit21.ai/reference/identity-verification-options)
          - [Custom data](https://docs.unit21.ai/reference/best-practices-for-custom-data)
          - [Batch uploads](https://docs.unit21.ai/reference/batch-request-examples)
          - [Modifying tags](https://docs.unit21.ai/reference/modifying-tags)
      requestBody:
        $ref: '#/components/requestBodies/createEntity'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createEntityResponse'
        '400':
          description: Bad Request. Your request is invalid.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/errorResponse'
                  - $ref: '#/components/schemas/messageResponse'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '423':
          $ref: '#/components/responses/423'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '503':
          $ref: '#/components/responses/503'
  /entities/create/direct:
    post:
      tags:
        - Entities API
      summary: Create an entity directly
      operationId: create_entity_directly
      description: |
        Creates or updates an entity immediately, publishing directly to kafka. This is a performance endpoint.

        Please see the `/entity/create` [endpoint](https://docs.unit21.ai/reference/create_entity) for more information.

        A successfull entry comes back `null`.
      requestBody:
        $ref: '#/components/requestBodies/createEntityDirect'
      responses:
        '200':
          description: OK
          content:
            application/json:
              example: null
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '423':
          $ref: '#/components/responses/423'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '503':
          $ref: '#/components/responses/503'
  /{org_name}/entities/{entity_id}:
    get:
      tags:
        - Entities API
      summary: Get an entity
      description: |-
        Returns all data objects belonging to a single entity, including `general_data`, `document_data`, etc.

        [Placeholder](https://docs.unit21.ai/reference/placeholder-objects) entities will not be listed.

        This endpoint requires the `entity_id` which is a unique ID created by your organization to identify the entity. The `org_name` is your Unit21 appointed organization name such as `google` or `acme`.
      operationId: get_entity
      parameters:
        - $ref: '#/components/parameters/entity_id'
        - $ref: '#/components/parameters/org_name'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/entityList'
                  - properties:
                      relationships:
                        $ref: '#/components/schemas/relationshipsDataProperties'
        '400':
          description: Bad Request. Your request is invalid.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/errorResponse'
                  - $ref: '#/components/schemas/messageResponse'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '503':
          $ref: '#/components/responses/503'
  /{org_name}/entities/{entity_id}/update:
    put:
      tags:
        - Entities API
      summary: Update entity
      deprecated: true
      description: |-
        > ❗️ THIS ENDPOINT IS UNDER DEPRECATION.
        >
        > For new implementations, please use the [Create Entity](https://docs.unit21.ai/reference/create_entity) endpoint instead. The Create Entity endpoint allows upserts, supports successive updates, and is capable of batch requests.

        Updates an entity's information using the `entity_id` from your platform. 

        Updating an entity has no required fields. You MAY send any subset of the fields that the entities/create endpoint accepts.

        [Placeholder](https://docs.unit21.ai/reference/placeholder-objects) entities cannot be updated.

        This endpoint requires the `entity_id` which is a unique ID created by your organization to identify the entity. The `org_name` is your Unit21 appointed organization name such as `google` or `acme`.

        Note that you can also update an entity using an upsert through `/entities/create`.

        Follow the links for more information:
          - [Relationships](https://docs.unit21.ai/reference/relationships)
          - [Endpoint options](https://docs.unit21.ai/reference/endpoint-options)
          - [Verification options](https://docs.unit21.ai/reference/identity-verification-options)
          - [Custom data](https://docs.unit21.ai/reference/best-practices-for-custom-data)
          - [Batch uploads](https://docs.unit21.ai/reference/batch-request-examples)
          - [Modifying tags](https://docs.unit21.ai/reference/modifying-tags)
      operationId: update_entity
      parameters:
        - $ref: '#/components/parameters/entity_id'
        - $ref: '#/components/parameters/org_name'
      requestBody:
        description: Any or all of the following objects are accepted
        required: true
        content:
          application/json:
            schema:
              anyOf:
                - $ref: '#/components/schemas/generalEntitiesBasic'
                - $ref: '#/components/schemas/userData'
                - $ref: '#/components/schemas/businessData'
                - $ref: '#/components/schemas/documentDataArray'
                - $ref: '#/components/schemas/instrumentArray'
                - $ref: '#/components/schemas/communicationData'
                - $ref: '#/components/schemas/digitalDataArray'
                - $ref: '#/components/schemas/locationDataArray'
                - $ref: '#/components/schemas/riskScores'
                - $ref: '#/components/schemas/customData'
                - $ref: '#/components/schemas/relationshipsData'
                - $ref: '#/components/schemas/entityOptions'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/updateEntityResponse'
        '400':
          description: Bad Request. Your request is invalid.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/errorResponse'
                  - $ref: '#/components/schemas/messageResponse'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '423':
          $ref: '#/components/responses/423'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '503':
          $ref: '#/components/responses/503'
  /{org_name}/entities/{entity_id}/add-instruments:
    put:
      tags:
        - Entities API
      summary: Add instruments to entity
      description: |-
        Associate an entity with an array of instruments.

        Specify the `instrument_id` of the instrument when associating instruments. 

        [Placeholder](https://docs.unit21.ai/reference/placeholder-objects) entities cannot be updated.

        If we do not find any instruments with a corresponding `instrument_id` in our  system, we will create a [placeholder](https://docs.unit21.ai/reference/placeholder-objects) for it. 

        Instrument details can then be supplemented  through the `/instruments/create` or `/instruments/update` endpoints.
          
      operationId: add_instruments
      parameters:
        - $ref: '#/components/parameters/entity_id'
        - $ref: '#/components/parameters/org_name'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/linkInstrument'
      responses:
        '200':
          description: OK
          content:
            application/json:
              example: {}
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          description: NOT FOUND
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        '409':
          $ref: '#/components/responses/409'
        '423':
          $ref: '#/components/responses/423'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '503':
          $ref: '#/components/responses/503'
  /{org_name}/entities/{entity_id}/link-media:
    put:
      tags:
        - Entities API
      summary: Add media to an entity
      description: |-
        Adds rich media objects (images, videos, etc.) to an existing entity. 

        [Placeholder](https://docs.unit21.ai/reference/placeholder-objects) entities cannot be updated.

        This endpoint is useful for sending in rich media such as profile pictures, ID card scans, official documents etc.  that you want available for investigative and verification purposes.

        Supported file types are: txt, pdf, video (mp4, mov, wmv, avi, mkv), images (png, jpg, tiff, gif, raw, eps). The max file size is 5 MB per file.

        The payload to this endpoint can either be a **form-data** or a **base64** encoded media file via the requests JSON body.

        **Form-data** sent to this endpoint must use the key `media_key` and the `value` as the media file.  If you wish to provide optional information, use the `media_key` and provide stringified JSON data as the value.  There are no required fields in each media file's supplementary form data. However, if a recognized `media_type` value is provided,  the Unit21 system will be able to use the media object for purposes such as document verification.

        ```
          --form 'document_front=@/src/103031/images/document_front.jpg' \
          --form 'document_front={"media_type": "IMAGE_ID_CARD_FRONT", "source": "passport_app", "timestamp": 1572673229}'
        ```

        **Base64** encoded media objects must follow the format:

        ```json
          {
            "media": "iVBORw0KGgoAAAANSUhEUgAAAQMAAADCCAYAAABNEqduAAAgAElEQVR4Aey9CbgmV1Xv...",
            "name": "Drivers_License.png",
            "media_type": "IMAGE_DRIVERS_LICENSE_FRONT",
            "custom_data": {
              "internal_notes": "Reviewed by Mitchell on 31 June 2019",
              "reviewers": 3,
              "login": 1638384860,
              "timestamp": "2012-03-40 05:12:41.000Z",
              "daily_email": true,
              "employees": ["John", "Anna", "Peter"],
              "socure_device_session_id": "12121212121212112"
            }
          }
        ```

        `media` and `name` are the only required fields for each media object. The `name` must include the file extension such a `File.pdf`. Supplementary form data is sent through the optional `custom_data` object.

        For verification purposes, recognized values of `media_type` are: 


          | media_type                  |
          |-----------------------------|
          | IMAGE_PROFILE_PICTURE       |
          | IMAGE_DRIVERS_LICENSE_FRONT |
          | IMAGE_DRIVERS_LICENSE_BACK  |
          | IMAGE_PASSPORT_FRONT        |
          | IMAGE_ID_CARD_FRONT         |
          | IMAGE_ID_CARD_BACK          |
          | IMAGE_FACE_IMAGE            | 
      operationId: link_media_to_entity
      parameters:
        - $ref: '#/components/parameters/entity_id'
        - $ref: '#/components/parameters/org_name'
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/linkMediaJSON'
                - $ref: '#/components/schemas/linkMediaForm'
      responses:
        '200':
          description: OK
          content:
            application/json:
              example: {}
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          description: NOT FOUND
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        '409':
          $ref: '#/components/responses/409'
        '423':
          $ref: '#/components/responses/423'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '503':
          $ref: '#/components/responses/503'
  /{org_name}/entities/{entity_id}/delete-all-media:
    put:
      tags:
        - Entities API
      summary: Delete entity media
      description: |-
        Deletes all rich media objects (images, videos, etc.) belonging to an existing entity. 

        [Placeholder](https://docs.unit21.ai/reference/placeholder-objects) entities cannot be updated.
      operationId: del_media_entity
      parameters:
        - $ref: '#/components/parameters/entity_id'
        - $ref: '#/components/parameters/org_name'
      responses:
        '200':
          description: OK
          content:
            application/json:
              example: {}
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          description: NOT FOUND
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        '409':
          $ref: '#/components/responses/409'
        '423':
          $ref: '#/components/responses/423'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '503':
          $ref: '#/components/responses/503'
  /entities/bulk-export:
    post:
      tags:
        - Entities API
      summary: Bulk export entities
      description: |
        Initiates an email and dashboard export of entities. The export will be as a CSV file.

        [Placeholder](https://docs.unit21.ai/reference/placeholder-objects) entities are not exported.

        Either the `filters` or the list of `entity_ids` are required for the export. 

        Custom data filters are not supported for bulk exports at this time.
      operationId: export_entities
      requestBody:
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/entity-unit21-Ids'
                - $ref: '#/components/schemas/entityExportFilters'
                - $ref: '#/components/schemas/csv'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messageResponse'
              example:
                message: File export has started
        '400':
          description: Bad Request. Your request is invalid.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/errorResponse'
                  - $ref: '#/components/schemas/messageResponse'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '423':
          $ref: '#/components/responses/423'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '503':
          $ref: '#/components/responses/503'
  /instruments/create:
    post:
      tags:
        - Instruments API
      summary: Create an instrument
      operationId: create_instrument
      description: |
        Creates a new instrument, sending instrument data in the request body.

        Recommended values for `instrument_type` include: account, crypto_address, digital_wallet, credit_card, debit_card, gift_card, voucher, check, laptop,  company_computer, smartphone.

        If the `/instruments/create` API is called for an instrument that already exists in our system (i.e. has an existing `instrument_id`), it is treated it as an [upsert](https://docs.unit21.ai/reference/should-i-update-or-upsert) and an update on the existing instrument is performed. However, Unit21 selectively ignores upserts if the request is identical to a previous request. 

        To turn a [placeholder](https://docs.unit21.ai/reference/placeholder-objects) instrument into an instrument in the Unit21 system, use this endpoint.

        Updates to an instrument's `instrument_id` are not allowed.

        Follow the links for more information:
          - [Relationships](https://docs.unit21.ai/reference/relationships)
          - [Endpoint options](https://docs.unit21.ai/reference/endpoint-options)
          - [Custom data](https://docs.unit21.ai/reference/best-practices-for-custom-data)
          - [Batch uploads](https://docs.unit21.ai/reference/batch-request-examples)
          - [Modifying tags](https://docs.unit21.ai/reference/modifying-tags)
          
      requestBody:
        $ref: '#/components/requestBodies/createInstrument'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createInstrumentResponse'
        '400':
          description: Bad Request. Your request is invalid.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/errorResponse'
                  - $ref: '#/components/schemas/messageResponse'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '423':
          $ref: '#/components/responses/423'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '503':
          $ref: '#/components/responses/503'
  /{org_name}/instruments/{instrument_id}:
    get:
      tags:
        - Instruments API
      summary: Get an instrument
      description: |-
        Returns all data objects belonging to a single instrument.

        [Placeholder](https://docs.unit21.ai/reference/placeholder-objects) instruments are not listed.

        This endpoint requires the `instrument_id` which is a unique ID created by your organization to identify the instrument. The `org_name` is your Unit21 appointed organization name such as `google` or `acme`.
      operationId: get_instrument
      parameters:
        - $ref: '#/components/parameters/instrument_id'
        - $ref: '#/components/parameters/org_name'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/instrumentList'
        '400':
          description: Bad Request. Your request is invalid.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/errorResponse'
                  - $ref: '#/components/schemas/messageResponse'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '503':
          $ref: '#/components/responses/503'
  /{org_name}/instruments/{instrument_id}/update:
    put:
      tags:
        - Instruments API
      summary: Update instrument
      deprecated: true
      description: |-
        > ❗️ THIS ENDPOINT IS UNDER DEPRECATION.
        >
        > For new implementations, please use the [Create Instrument](https://docs.unit21.ai/reference/create_instrument) endpoint instead. The Create Instrument endpoint allows upserts, supports successive updates, and is capable of batch requests.

        Updates an instrument's information using the `instrument_id` from your platform.

        This endpoint requires the `instrument_id` which is a unique ID created by your organization to identify the instrument. The `org_name` is your Unit21 appointed organization name such as `google` or `acme`.

        Updating an instrument has no required fields. You MAY send any subset of the fields that the `instruments/create` endpoint accepts.

        [Placeholder](https://docs.unit21.ai/reference/placeholder-objects) instruments cannot be updated.

        Note that you can also update an instrument using an upsert through `/instruments/create`.

        Follow the links for more information:
          - [Relationships](https://docs.unit21.ai/reference/relationships)
          - [Endpoint options](https://docs.unit21.ai/reference/endpoint-options)
          - [Custom data](https://docs.unit21.ai/reference/best-practices-for-custom-data)
          - [Batch uploads](https://docs.unit21.ai/reference/batch-request-examples)
          - [Modifying tags](https://docs.unit21.ai/reference/modifying-tags)
      operationId: update_instrument
      parameters:
        - $ref: '#/components/parameters/instrument_id'
        - $ref: '#/components/parameters/org_name'
      requestBody:
        content:
          application/json:
            schema:
              anyOf:
                - $ref: '#/components/schemas/InstrumentBasic'
                - $ref: '#/components/schemas/entityRelations'
                - $ref: '#/components/schemas/locationDataArray'
                - $ref: '#/components/schemas/digitalDataArray'
                - $ref: '#/components/schemas/customData'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/updateInstrumentResponse'
        '400':
          description: Bad Request. Your request is invalid.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/errorResponse'
                  - $ref: '#/components/schemas/messageResponse'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '423':
          $ref: '#/components/responses/423'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '503':
          $ref: '#/components/responses/503'
  /instruments/bulk-export:
    post:
      tags:
        - Instruments API
      summary: Bulk export instruments
      description: |
        Initiates an email and dashboard export of instruments. The export will be as a CSV file.

        [Placeholder](https://docs.unit21.ai/reference/placeholder-objects) instruments are not exported.

        The agent making the request will need to have the correct permissions for the export to ensure success.

        Either the `filters` or the list of `instrument IDs` are required for the export.

        Custom data filters are not supported for bulk exports at this time.
      operationId: export_instruments
      requestBody:
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/instrument-unit21-Ids'
                - $ref: '#/components/schemas/instrumentExportFilters'
                - $ref: '#/components/schemas/csv'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bulkExportResponse'
        '400':
          description: Bad Request. Your request is invalid.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/errorResponse'
                  - $ref: '#/components/schemas/messageResponse'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '423':
          $ref: '#/components/responses/423'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '503':
          $ref: '#/components/responses/503'
  /events/create:
    post:
      tags:
        - Events API
      summary: Create an event
      operationId: create_event
      description: |
        Creates a new event, sending event data in the request body. 

        Two objects are required: `general_data` and either `transaction_data` or `action_data`. `general_data` requires the fields: `event_id`, `event_type`, and `event_time`. `transaction_data` requires only the field `amount`.

        If we receive a request to create an event with an `event_id` that already exists in our system, we treat it as an [upsert](https://docs.unit21.ai/reference/should-i-update-or-upsert) and perform an update on the existing event. It is not possible to update `general_data.event_id` once the event has been created. All other values can be overwritten. 

        Follow the links for more information:
          - [Endpoint options](https://docs.unit21.ai/reference/endpoint-options)
          - [Verification options](https://docs.unit21.ai/reference/identity-verification-options)
          - [Custom data](https://docs.unit21.ai/reference/best-practices-for-custom-data)
          - [Batch uploads](https://docs.unit21.ai/reference/batch-request-examples)
          - [Modifying tags](https://docs.unit21.ai/reference/modifying-tags)
      requestBody:
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/generalEvents'
                - $ref: '#/components/schemas/transactionData'
                - $ref: '#/components/schemas/actionData'
                - $ref: '#/components/schemas/digitalData'
                - $ref: '#/components/schemas/locationData'
                - $ref: '#/components/schemas/customData'
                - $ref: '#/components/schemas/eventOptions'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createEventResponse'
        '400':
          description: Bad Request. Your request is invalid.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/errorResponse'
                  - $ref: '#/components/schemas/messageResponse'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '423':
          $ref: '#/components/responses/423'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '503':
          $ref: '#/components/responses/503'
  /evaluate:
    post:
      tags:
        - Events API
      summary: Run real-time rules on an event
      operationId: create_rtr_event
      description: |
        Runs real-time rules on a particular event, the details of which are sent in the request body. 

        To save the event that was evaluated, it must be sent to the event creation endpoint separately;  however, the same payload can be used to simplify implementation.
      requestBody:
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/generalEvents'
                - $ref: '#/components/schemas/transactionData'
                - $ref: '#/components/schemas/actionData'
                - $ref: '#/components/schemas/digitalData'
                - $ref: '#/components/schemas/locationData'
                - $ref: '#/components/schemas/customData'
                - $ref: '#/components/schemas/eventOptions'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rtrEventResponse'
        '400':
          description: Bad Request. Your request is invalid.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/errorResponse'
                  - $ref: '#/components/schemas/messageResponse'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '423':
          $ref: '#/components/responses/423'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '503':
          $ref: '#/components/responses/503'
  /{org_name}/events/{event_id}:
    get:
      tags:
        - Events API
      summary: Get an event
      description: |-
        Returns all data objects belonging to a single event.

        This endpoint requires the `events_id` which is a unique ID created by your organization to identify the event. The `org_name` is your Unit21 appointed organization name such as `google` or `acme`.
      operationId: get_event
      parameters:
        - $ref: '#/components/parameters/event_id'
        - $ref: '#/components/parameters/org_name'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/eventList'
        '400':
          description: Bad Request. Your request is invalid.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/errorResponse'
                  - $ref: '#/components/schemas/messageResponse'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '503':
          $ref: '#/components/responses/503'
  /{org_name}/events/{event_id}/update:
    put:
      tags:
        - Events API
      summary: Update event
      deprecated: true
      description: |-
        > ❗️ THIS ENDPOINT IS UNDER DEPRECATION.
        >
        > For new implementations, please use the [Create Event](https://docs.unit21.ai/reference/create_event) endpoint instead. The Create Event endpoint allows upserts, supports successive updates, and is capable of batch requests.

        Update an event using the `event_id` from your platform. 

        Updating an event has no required fields. You MAY send any  subset of the fields that the events/create endpoint accepts.

        This endpoint requires the `event_id` which is a unique ID created by your organization to identify the event. The `org_name` is your Unit21 appointed organization name such as `google` or `acme`.

        Note that you can also update an event using an upsert through `/events/create`.

        Follow the links for more information:
          - [Endpoint options](https://docs.unit21.ai/reference/endpoint-options)
          - [Custom data](https://docs.unit21.ai/reference/best-practices-for-custom-data)
          - [Batch uploads](https://docs.unit21.ai/reference/batch-request-examples)
          - [Modifying tags](https://docs.unit21.ai/reference/modifying-tags)
      operationId: update_event
      parameters:
        - $ref: '#/components/parameters/event_id'
        - $ref: '#/components/parameters/org_name'
      requestBody:
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/eventOptions'
              anyOf:
                - $ref: '#/components/schemas/generalEvents'
                - $ref: '#/components/schemas/digitalData'
                - $ref: '#/components/schemas/locationData'
                - $ref: '#/components/schemas/transactionData'
                - $ref: '#/components/schemas/actionData'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/updateEventResponse'
        '400':
          description: Bad Request. Your request is invalid.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/errorResponse'
                  - $ref: '#/components/schemas/messageResponse'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '423':
          $ref: '#/components/responses/423'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '503':
          $ref: '#/components/responses/503'
  /{org_name}/events/{event_id}/link-media:
    put:
      tags:
        - Events API
      summary: Add media to an event
      description: |-
        Adds rich media objects (images, videos, etc.) to an existing event. 

        [Placeholder](https://docs.unit21.ai/reference/placeholder-objects) events cannot be updated.

        This endpoint is useful for sending in rich media such as check images, receipts, invoices, and other documents that you want available to investigative.

        Supported file types are: txt, pdf, video (mp4, mov, wmv, avi, mkv), images (png, jpg, tiff, gif, raw, eps). The max file size is 5 MB per file.

        The payload to this endpoint can either be a **form-data** or a **base64** encoded media file via the requests JSON body.

        **Form-data** sent to this endpoint must use the key `media_key` and the `value` as the media file.  If you wish to provide optional information, use the `media_key` and provide stringified JSON data as the value.  `media_type` is the only required field in each media file's supplementary form data. 

        ```
          --form 'check_front=@/src/103031/images/check_image_front.jpg' \
          --form 'check_front={"media_type": "CHECK_IMAGE_FRONT", "source": "direct_deposit_capture", "timestamp": 1572673229}'
        ```

        **Base64** encoded media objects must include `media`, `name`, and `media-type` for each media object. The `name` must include the file extension such a `File.pdf`. Supplementary form data is sent through the optional `custom_data` object.

        ```json
          {
            "media": "iVBORw0KGgoAAAANSUhEUgAAAQMAAADCCAYAAABNEqduAAAgAElEQVR4Aey9CbgmV1Xv...",
            "name": "Check_Image_Front.png",
            "media_type": "CHECK_IMAGE_FRONT",
            "custom_data": {
              "internal_notes": "Reviewed by Mitchell Jones on 31 June 2019",
              "source": "direct_deposit_capture",
              "timestamp": "2012-03-40 05:12:41.000Z"
            }
          }
        ```
      operationId: link_media_to_event
      parameters:
        - $ref: '#/components/parameters/event_id'
        - $ref: '#/components/parameters/org_name'
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/linkMediaJSON'
                - $ref: '#/components/schemas/linkMediaForm'
      responses:
        '200':
          description: OK
          content:
            application/json:
              example: {}
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          description: NOT FOUND
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        '409':
          $ref: '#/components/responses/409'
        '423':
          $ref: '#/components/responses/423'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '503':
          $ref: '#/components/responses/503'
  /events/bulk-export:
    post:
      tags:
        - Events API
      summary: Bulk export events
      description: |
        Initiates an email and dashboard export of events. The export will be as a CSV file.

        Either the agent `ID` or `email` is required to begin the export.

        Either the `filters` or the list of `event IDs` are required for the export.

        Custom data filters are not supported for bulk exports at this time.
      operationId: export_events
      requestBody:
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/eventIds'
                - $ref: '#/components/schemas/eventExportFilters'
                - $ref: '#/components/schemas/csv'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bulkExportResponse'
        '400':
          description: Bad Request. Your request is invalid.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/errorResponse'
                  - $ref: '#/components/schemas/messageResponse'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '423':
          $ref: '#/components/responses/423'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '503':
          $ref: '#/components/responses/503'
  /txn-events/bulk-export:
    post:
      tags:
        - Events API
      summary: Bulk export transactions
      description: |
        Initiates an email and dashboard export of events. The export will be as a CSV file.

        Either the agent `ID` or `email` is required to begin the export.

        Either the `filters` or the list of `event IDs` are required for the export.

        Custom data filters are not supported for bulk exports at this time.
      operationId: export_transactions
      requestBody:
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/eventIds'
                - $ref: '#/components/schemas/eventExportFilters'
                - $ref: '#/components/schemas/csv'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bulkExportResponse'
        '400':
          description: Bad Request. Your request is invalid.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/errorResponse'
                  - $ref: '#/components/schemas/messageResponse'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '423':
          $ref: '#/components/responses/423'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '503':
          $ref: '#/components/responses/503'
  /rules/list:
    post:
      tags:
        - Rules API
      summary: List rules
      description: |-
        Returns paginated list of of top-level information about rules.     

        Because the response is paginated, the request body has a `limit` and `offset` field. At least one must be filled.
        * `limit`  indicates how many objects the request returns (the page maximum is 50)
        * `offset` indicates the offset for pagination. An `offset` value of 1 starts with the environment's first record. The offset is relative to the number of pages (not the total count of objects).

        The `total_count` field contains the total number of rules where the  `response_count` field contains the number of rules included in the response.
      operationId: list_rules
      requestBody:
        $ref: '#/components/requestBodies/list'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/listRuleResponse'
        '400':
          description: Bad Request. Your request is invalid.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/errorResponse'
                  - $ref: '#/components/schemas/messageResponse'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '423':
          $ref: '#/components/responses/423'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '503':
          $ref: '#/components/responses/503'
  /rules/{unit21_id}:
    get:
      tags:
        - Rules API
      summary: Get a rule
      description: |-
        Returns all data objects belonging to a single rule.

        This endpoint requires the `unit21_id` which is a unique ID created by Unit21 when the rule is first created.
      operationId: read_one_rule
      parameters:
        - $ref: '#/components/parameters/unit21_id'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ruleList'
        '400':
          description: Bad Request. Your request is invalid.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/errorResponse'
                  - $ref: '#/components/schemas/messageResponse'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '503':
          $ref: '#/components/responses/503'
  /rules/bulk-export:
    post:
      tags:
        - Rules API
      summary: Bulk export rules
      description: |
        Initiates an email and dashboard export of rules. The export will be as a CSV file.

        Either the agent `ID` or `email` is required to begin the export.

        Either the `filters` or the list of `rule IDs` are required for the export.

        **Currently `rule_ids` should actually be `unit21_ids`.**

        Custom data filters are not supported for bulk exports at this time.
      operationId: export_rules
      requestBody:
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/rule-unit21-Ids'
                - $ref: '#/components/schemas/ruleExportFilters'
                - $ref: '#/components/schemas/csv'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bulkExportResponse'
        '400':
          description: Bad Request. Your request is invalid.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/errorResponse'
                  - $ref: '#/components/schemas/messageResponse'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '423':
          $ref: '#/components/responses/423'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '503':
          $ref: '#/components/responses/503'
  /alerts/list:
    post:
      tags:
        - Alerts API
      summary: List alerts
      description: |
        Returns an array of top-level information about alerts in your environment.

        Because the response is paginated, the request body has a `limit` and `offset` field. At least one must be filled.
        * `limit`  indicates how many objects the request returns (the page maximum is 50)
        * `offset` indicates the offset for pagination. An `offset` value of 1 starts with the environment's first record.

        To narrow down your alert search, we provide filter parameters to this endpoint. Note that all list inputs function as an "or" filter, as in any one of the values must match the selected alert(s):


          | Field                   | Type        | Description                                                                                                       |
          | ----------------------- | ----------- | ----------------------------------------------------------------------------------------------------------------- |
          | `case_id`               | Numeric     | Only alerts with the associated case ID will be shown.                                                            |
          | `types`                 | String[]    | Must be list of alert types: `tm`, `kyc`, `chainalysis`, `car, or `manual`                                        |
          | `created_after`         | Numeric     | Alerts created on or after this unix timestamp                                                                    |
          | `created_before`        | Numeric     | Alerts created before this unix timestamp                                                                         |
          | `dispositions`          | String[]    | List of alert disposition states (defined on an integration basis)                                                |
          | `dispositioned_after`   | Numeric     | Alerts with a disposition most recently updated after this unix timestamp                                         |
          | `dispositioned_before`  | Numeric     | Alerts with a disposition most recently updated before this unix timestamp                                        |
          | `dispositioned_by`      | String[]    | List of agent emails. Returns alerts with a disposition most recently changed by agents in the list               |
          | `rules`                 | Numeric[]   | List of Unit21 rule ids that are associated with the alert                                                        |
          | `associated_entities`   | String[]    | List of entity ids associated with this alert                                                              |
          | `associated_events`     | String[]    | List of event ids associated with this alert                                                               |
          | `associated_instruments`| String[]    | List of instrument ids associated with this alert                                                          |
          | `sources`               | String[]    | Must be list of alert sources: `INTERNAL`, `EXTERNAL`                                                             |
          | `statuses`              | String[]    | Must be list of alert statuses: `OPEN`, `CLOSED`                                                                  |
          | `tag_filters`           | String[]    | List of string tags (`key:value`) or keys to associate this alert with (e.g. `alert_type:high_velocity` or `alert_type`). If only the key is provided, we will match against all tags with that key        |
          | `limit`                 | Numeric     | A limit on the number of objects to be returned. Limit can range between 1 and 50, and the default is 10          |
          | `offset`                | Numeric     | The offset for pagination. Default is 1                                                                           |
          | `options`               | Object      | Options for the data included in the returned alerts. Removing unneeded options can improve response speed        |


        The `total_count` field contains the total number of alerts where the  `response_count` field contains the number of alerts included in the response.

        Follow the links for more information:
          - [Endpoint options](https://docs.unit21.ai/reference/endpoint-options)
          
      operationId: list_alerts
      requestBody:
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/listAlertRequest'
                - $ref: '#/components/schemas/alertListFilters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/listAlertResponse'
        '400':
          description: Bad Request. Your request is invalid.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/errorResponse'
                  - $ref: '#/components/schemas/messageResponse'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '423':
          $ref: '#/components/responses/423'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '503':
          $ref: '#/components/responses/503'
  /alerts/create:
    post:
      tags:
        - Alerts API
      summary: Create alerts
      operationId: create_alert
      description: "Creates a new alert, sending alert data in the request body. \nTo create an Alert, you MUST include the following fields: `alert_id`, `alert_type`, `created_at`, `title`, and `status`. The other top-level fields are optional.\n\nIf we receive a request to create an alert for an `alert_id` that already exists in our system,  we will respond with a **409 error code** indicating that this alert cannot be created/updated. You must use the `/alert/update` endpoint to update an alert.\n\nYou can add the following objects to an alert:\n\n  | Field                    | Type     | Description                                                                                                           |\n  |--------------------------|----------|-----------------------------------------------------------------------------------------------------------------------|\n  | `rules`\t                 | String[] | Unique identifier of the rules/triggers/scenarios that triggered this alert                                           |\n  | `events`\t               | Object[] | Transactions affiliated with the alert. Each object must consist of a `event_id` and `event_type` field               |\n  | `entities`\t             | Object[] | Users or businesses affiliated with the alert. Each object must consist of an `entity_id` and `entity_type` field     |\n  | `instruments`\t           | String[] | Unique identifiers of any instruments affiliated with the alert                                                       |\n\n\nPlease note that if `verification_result_id` is included, it will link the entity that is associated  with the verification result with the alert.\n\nUpdates to an alert's `alert_id` are not allowed.\n\nFollow the links for more information:\n  - [Endpoint options](https://docs.unit21.ai/reference/endpoint-options)\n  - [Batch uploads](https://docs.unit21.ai/reference/batch-request-examples)\n  - [Modifying tags](https://docs.unit21.ai/reference/modifying-tags)\n\n\nThe response will consist of the following fields:\n\n  | Field                    | Type     | Description                                             |\n  |--------------------------|----------|---------------------------------------------------------|\n  | `alert_id`\t             | String   | Unique identifier of the alert on your platform         |\n  | `unit21_id`\t             | String   | Internal ID of the alert within Unit21's system         |\n  | `previously_existed`\t   | Boolean  | If alert (with the same `alert_id`) already exists      |\n"
      requestBody:
        $ref: '#/components/requestBodies/createAlert'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createAlertResponse'
        '400':
          description: Bad Request. Your request is invalid.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/errorResponse'
                  - $ref: '#/components/schemas/messageResponse'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '423':
          $ref: '#/components/responses/423'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '503':
          $ref: '#/components/responses/503'
  /alerts/{unit21_id}:
    get:
      tags:
        - Alerts API
      summary: Get an alert
      description: |-
        Returns all data objects belonging to a single alert.

        This endpoint requires the `unit21_id` which is a unique ID created by Unit21 when the entity is first created.
      operationId: get_alert_by_unit21_id
      parameters:
        - $ref: '#/components/parameters/unit21_id'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getAlertResponse'
        '400':
          description: Bad Request. Your request is invalid.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/errorResponse'
                  - $ref: '#/components/schemas/messageResponse'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '503':
          $ref: '#/components/responses/503'
  /alerts/{unit21_id}/update:
    put:
      tags:
        - Alerts API
      summary: Update alert
      description: "Updates an alert's information using the `unit21_id`. ONLY WORKS ON EXTERNAL ALERTS.\n\nUpdating an alert has no required fields. You MAY send any subset of the fields that the `alerts/create` endpoint accepts.\n\nThis endpoint requires the `unit21_id` which is a unique ID created by Unit21 when the entity is first created.\n\nFollow the links for more information:\n  - [Endpoint options](https://docs.unit21.ai/reference/endpoint-options)\n  - [Custom data](https://docs.unit21.ai/reference/best-practices-for-custom-data)\n  - [Batch uploads](https://docs.unit21.ai/reference/batch-request-examples)\n  - [Modifying tags](https://docs.unit21.ai/reference/modifying-tags)\n\n\nThe response will consist of the following fields:\n\n  | Field                    | Type     | Description                                             |\n  |--------------------------|----------|---------------------------------------------------------|\n  | `alert_id`\t             | String   | Unique identifier of the alert on your platform         |\n  | `unit21_id`\t             | String   | Internal ID of the alert within Unit21's system         |"
      operationId: update_alert
      parameters:
        - $ref: '#/components/parameters/unit21_id'
      requestBody:
        content:
          application/json:
            schema:
              anyOf:
                - $ref: '#/components/schemas/AlertsUpdate'
                - $ref: '#/components/schemas/customData'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/updateAlertResponse'
        '400':
          description: Bad Request. Your request is invalid.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/errorResponse'
                  - $ref: '#/components/schemas/messageResponse'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '423':
          $ref: '#/components/responses/423'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '503':
          $ref: '#/components/responses/503'
  /alerts/{unit21_id}/link-media:
    put:
      tags:
        - Alerts API
      summary: Add media to an alert
      description: |-
        Adds rich media objects (images, videos, etc.) to an existing alert. 

        This endpoint is useful for sending in rich media such as profile pictures, ID card scans, official documents etc.  that you want available for investigative and verification purposes.

        Supported file types are: txt, pdf, video (mp4, mov, wmv, avi, mkv), images (png, jpg, tiff, gif, raw, eps). The max file size is 5 MB per file. 

        The payload to this endpoint can either be a **form-data** or a **base64** encoded media file via the requests JSON body.

        **Form-data** sent to this endpoint must use the key `media_key` and the `value` as the media file.  If you wish to provide optional information, use the `media_key` and provide stringified JSON data as the value.  There are no required fields in each media file's supplementary form data. However, if a recognized `media_type` value is provided,  the Unit21 system will be able to use the media object for purposes such as document verification.

        ```
            --form 'document_front=@/src/103031/images/document_front.jpg' \
            --form 'document_front={"media_type": "IMAGE_ID_CARD_FRONT", "source": "passport_app", "timestamp": 1572673229}'
        ```

        **Base64** encoded media objects must follow the format:

        ```json
          {
            "media": "iVBORw0KGgoAAAANSUhEUgAAAQMAAADCCAYAAABNEqduAAAgAElEQVR4Aey9CbgmV1Xv...",
            "name": "Drivers_License.png",
            "media_type": "IMAGE_DRIVERS_LICENSE_FRONT"
          }
        ```
            
        `media` and `name` are the only required fields for each media object. The `name`` must include the file extension such a `File.pdf`. Supplementary form data is sent through the optional `custom_data` object.

        Recognized values of `media_type` are: 

          | media_type                  |
          |-----------------------------|
          | IMAGE_PROFILE_PICTURE       |
          | IMAGE_DRIVERS_LICENSE_FRONT |
          | IMAGE_DRIVERS_LICENSE_BACK  |
          | IMAGE_PASSPORT_FRONT        |
          | IMAGE_ID_CARD_FRONT         |
          | IMAGE_ID_CARD_BACK          |
          | IMAGE_FACE_IMAGE            |
      operationId: link_media_to_alert
      parameters:
        - $ref: '#/components/parameters/unit21_id'
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/linkMediaJSON'
                - $ref: '#/components/schemas/linkMediaForm'
      responses:
        '200':
          description: OK
          content:
            application/json:
              example: {}
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          description: NOT FOUND
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        '409':
          $ref: '#/components/responses/409'
        '423':
          $ref: '#/components/responses/423'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '503':
          $ref: '#/components/responses/503'
  /alerts/bulk-export:
    post:
      tags:
        - Alerts API
      summary: Bulk export alerts
      description: |
        Initiates an email and dashboard export of alerts. The export will be as a CSV file.

        Either the agent `ID` or `email` is required to begin the export.

        Either the `filters` or the list of `alert IDs` are required for the export.

        **Currently `alert_ids` should actually be `unit21_ids`.**

        Custom data filters are not supported for bulk exports at this time.
      operationId: export_alerts
      requestBody:
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/alert-unit21-Ids'
                - $ref: '#/components/schemas/alertExportFilters'
                - $ref: '#/components/schemas/summary'
                - $ref: '#/components/schemas/csv'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bulkExportResponse'
        '400':
          description: Bad Request. Your request is invalid.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/errorResponse'
                  - $ref: '#/components/schemas/messageResponse'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '423':
          $ref: '#/components/responses/423'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '503':
          $ref: '#/components/responses/503'
  /cases/list:
    post:
      tags:
        - Cases API
      summary: List cases
      description: |
        Returns an array of top-level information about cases in your environment.

        Because the response is paginated, the request body has a `limit` and `offset` field. At least one must be filled.
        * `limit`  indicates how many objects the request returns (the page maximum is 50)
        * `offset` indicates the offset for pagination. An `offset` value of 1 starts with the environment's first record.

        To narrow down your case search, we provide filter parameters to this endpoint. Note that all list inputs function as an "or" filter, as in any one of the values must match the selected case(s):


          | Field                   | Type        | Description                                                                                                       |
          | ----------------------- | ----------- | ----------------------------------------------------------------------------------------------------------------- |
          | `created_after`         | Numeric     | Cases created on or after this unix timestamp                                                                     |
          | `created_before`        | Numeric     | Cases created before this unix timestamp                                                                          |
          | `dispositions`          | String[]    | List of case disposition states (defined on an integration basis)                                                 |
          | `dispositioned_after`   | Numeric     | Cases with a disposition most recently updated after this unix timestamp                                          |
          | `dispositioned_before`  | Numeric     | Cases with a disposition most recently updated before this unix timestamp                                         |
          | `dispositioned_by`      | String[]    | List of agent emails. Returns alerts with a disposition most recently changed by agents in the list               |
          | `rules`                 | Numeric[]   | List of Unit21 rule ids that are associated with the case                                                         |
          | `associated_entities`   | String[]    | List of entity ids associated with this case                                                                      |
          | `associated_events`     | String[]    | List of event ids associated with this case                                                                       |
          | `associated_alerts`     | Numeric[]   | List of Unit21 alert ids associated with this case                                                                |
          | `sources`               | String[]    | Must be list of alert sources: `INTERNAL`, `EXTERNAL`                                                             |
          | `statuses`              | String[]    | Must be list of alert statuses: `OPEN`, `CLOSED`                                                                  |
          | `tag_filters`           | String[]    | List of string tags (`key:value`) or keys to associate this case with (e.g. `case_type:high_velocity` or `case_type`). If only the key is provided, we will match against all tags with that key        |
          | `limit`                 | Numeric     | A limit on the number of objects to be returned. Limit can range between 1 and 50, and the default is 10          |
          | `offset`                | Numeric     | The offset for pagination. Default is 1                                                                           |
          | `options`               | Object      | Options for the data included in the returned cases. Removing unneeded options can improve response speed         |


        The `total_count` field contains the total number of case where the  `response_count` field contains the number of cases included in the response.

        Follow the links for more information:
          - [Endpoint options](https://docs.unit21.ai/reference/endpoint-options)
          
      operationId: list_cases
      requestBody:
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/listRequest'
                - $ref: '#/components/schemas/caseListFilters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/listCaseResponse'
        '400':
          description: Bad Request. Your request is invalid.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/errorResponse'
                  - $ref: '#/components/schemas/messageResponse'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '423':
          $ref: '#/components/responses/423'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '503':
          $ref: '#/components/responses/503'
  /cases/create:
    post:
      tags:
        - Cases API
      summary: Create a case
      description: "Creates a new case, sending case data in the request body. \nTo create a case, you MUST include the following fields: `case_id`, `title`, and `created_at`.  The other top-level fields are optional.\n\nIf we receive a request to create a case for an `case_id` that already exists in our system,  we will respond with a **409 error code** indicating that this case cannot be created/updated. You must use the `/case/update` endpoint to update a case.\n\nYou can add the following objects to a case:\n\n  | Field                    | Type     | Description                                                             |\n  |--------------------------|----------|-------------------------------------------------------------------------|\n  | `alerts`\t               | Array[]  | Alerts that are associated with this case. Consists of `alert_id`s      |\n  | `events`\t               | Array[]  | Transactions affiliated with the case. Consists of `event_id`s          |\n  | `entities`\t             | Array[]  | Entities affiliated with the case. Consists of `entity_id`s             |\n\nUpdates to a cases's `case_id` are not allowed.\n\nFollow the links for more information:\n  - [Endpoint options](https://docs.unit21.ai/reference/endpoint-options)\n  - [Batch uploads](https://docs.unit21.ai/reference/batch-request-examples)\n  - [Modifying tags](https://docs.unit21.ai/reference/modifying-tags)\n\n\nThe response will consist of the following fields:\n\n  | Field                    | Type     | Description                                          |\n  |--------------------------|----------|------------------------------------------------------|\n  | `case_id`\t               | String   | \tUnique identifier of the case on your platform     |\n  | `previously_existed`\t   | Boolean  | \tIf case (with the same `case_id`) already exists   |\n"
      operationId: create_case
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/Cases'
                - $ref: '#/components/schemas/entityIds'
                - $ref: '#/components/schemas/eventIds'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createCaseResponse'
        '400':
          description: Bad Request. Your request is invalid.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/errorResponse'
                  - $ref: '#/components/schemas/messageResponse'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '423':
          $ref: '#/components/responses/423'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '503':
          $ref: '#/components/responses/503'
  /cases/{unit21_id}:
    get:
      tags:
        - Cases API
      summary: Get a case
      description: |-
        Returns all data objects belonging to a single case.

        This endpoint requires the `unit21_id` which is a unique ID created by Unit21 when the case is first created.
      operationId: get_case_by_unit21_id
      parameters:
        - $ref: '#/components/parameters/unit21_id'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getCaseResponse'
        '400':
          description: Bad Request. Your request is invalid.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/errorResponse'
                  - $ref: '#/components/schemas/messageResponse'
  /cases/{unit21_id}/update:
    put:
      tags:
        - Cases API
      summary: Update case
      description: "Update a case through its `unit21_id`. ONLY EXTERNAL CASES CAN BE UPDATED!\n    \n\nUpdating a case has no required fields. You MAY send any subset of the fields that the `cases/create` endpoint accepts.\n\nThis endpoint requires the `unit21_id` which is a unique ID created by Unit21 when the case is first created.\n\nNote that you can also update an alert using an upsert through `/cases/create`.\n\nFollow the links for more information:\n  - [Endpoint options](https://docs.unit21.ai/reference/endpoint-options)\n  - [Custom data](https://docs.unit21.ai/reference/best-practices-for-custom-data)\n  - [Batch uploads](https://docs.unit21.ai/reference/batch-request-examples)\n  - [Modifying tags](https://docs.unit21.ai/reference/modifying-tags)\n\n\nThe response will consist of the following fields:\n\n  | Field                    | Type     | Description                                          |\n  |--------------------------|----------|------------------------------------------------------|\n  | `case_id`\t               | String   | \tUnique identifier of the case on your platform     |\n  | `previously_existed`\t   | Boolean  | \tIf entity (with the same `case_id`) already exists |"
      operationId: update_case
      parameters:
        - $ref: '#/components/parameters/unit21_id'
      requestBody:
        content:
          application/json:
            schema:
              anyOf:
                - $ref: '#/components/schemas/Cases'
                - $ref: '#/components/schemas/customData'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/updateCaseResponse'
        '400':
          description: Bad Request. Your request is invalid.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/errorResponse'
                  - $ref: '#/components/schemas/messageResponse'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '423':
          $ref: '#/components/responses/423'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '503':
          $ref: '#/components/responses/503'
  /cases/{unit21_id}/link-media:
    put:
      tags:
        - Cases API
      summary: Add media to a case
      description: |-
        Adds rich media objects (images, videos, etc.) to an existing case. 

        This endpoint is useful for sending in rich media such as profile pictures, ID card scans, official documents etc.  that you want available for investigative and verification purposes.

        Supported file types are: txt, pdf, video (mp4, mov, wmv, avi, mkv), images (png, jpg, tiff, gif, raw, eps). The max file size is 5 MB per file.

        The payload to this endpoint can either be a **form-data** or a **base64** encoded media file via the requests JSON body.

        **Form-data** sent to this endpoint must use the key `media_key` and the `value` as the media file.  If you wish to provide optional information, use the `media_key` and provide stringified JSON data as the value.  There are no required fields in each media file's supplementary form data. However, if a recognized `media_type` value is provided,  the Unit21 system will be able to use the media object for purposes such as document verification.

        ```
            --form 'document_front=@/src/103031/images/document_front.jpg' \
            --form 'document_front={"media_type": "IMAGE_ID_CARD_FRONT", "source": "passport_app", "timestamp": 1572673229}'
        ```

        **Base64** encoded media objects must follow the format:

        ```json
          {
            "media": "iVBORw0KGgoAAAANSUhEUgAAAQMAAADCCAYAAABNEqduAAAgAElEQVR4Aey9CbgmV1Xv...",
            "name": "Drivers_License.png",
            "media_type": "IMAGE_DRIVERS_LICENSE_FRONT"
          }
        ```
            
        `media` and `name` are the only required fields for each media object. The `name`` must include the file extension such a `File.pdf`. Supplementary form data is sent through the optional `custom_data` object.

        Recognized values of `media_type` are: 

          | media_type                    |
          |-------------------------------|
          | IMAGE_PROFILE_PICTURE         |
          | IMAGE_DRIVERS_LICENSE_FRONT   |
          | IMAGE_DRIVERS_LICENSE_BACK    |
          | IMAGE_PASSPORT_FRONT          |
          | IMAGE_ID_CARD_FRONT           |
          | IMAGE_ID_CARD_BACK            |
          | IMAGE_FACE_IMAGE              |
      operationId: link_media_to_case
      parameters:
        - $ref: '#/components/parameters/unit21_id'
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/linkMediaJSON'
                - $ref: '#/components/schemas/linkMediaForm'
      responses:
        '200':
          description: OK
          content:
            application/json:
              example: {}
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          description: NOT FOUND
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        '409':
          $ref: '#/components/responses/409'
        '423':
          $ref: '#/components/responses/423'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '503':
          $ref: '#/components/responses/503'
  /cases/bulk-export:
    post:
      tags:
        - Cases API
      summary: Bulk export cases
      description: |
        Initiates an email and dashboard export of cases. The export will be as a CSV file.

        Either the agent `ID` or `email` is required to begin the export.

        Either the `filters` or the list of `case IDs` are required for the export.

        Custom data filters are not supported for bulk exports at this time.
      operationId: export_cases
      requestBody:
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/caseIds'
                - $ref: '#/components/schemas/caseExportFilters'
                - $ref: '#/components/schemas/csv'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bulkExportResponse'
        '400':
          description: Bad Request. Your request is invalid.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/errorResponse'
                  - $ref: '#/components/schemas/messageResponse'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '423':
          $ref: '#/components/responses/423'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '503':
          $ref: '#/components/responses/503'
  /sars/list:
    post:
      tags:
        - Sars API
      summary: List sars
      description: |-
        Returns paginated list of of top-level information about paths/sars@list.yaml    

        Because the response is paginated, the request body has a `limit` and `offset` field. At least one must be filled.
        * `limit`  indicates how many objects the request returns (the page maximum is 50)
        * `offset` indicates the offset for pagination. An `offset` value of 1 starts with the environment's first record. The offset is relative to the number of pages (not the total count of objects).

        To narrow down your sars search, we provide filter parameters to this endpoint. Note that all list inputs function as an "or" filter, as in any one of the values must match the selected sar(s):


          | Field                   | Type        | Description                                                                                                       |
          | ----------------------- | ----------- | ----------------------------------------------------------------------------------------------------------------- |
          | `created_after`         | Numeric     | SARs created on or after this unix timestamp                                                                      |
          | `created_before`        | Numeric     | SARs created before this unix timestamp                                                                           |
          | `tag_filters`           | String[]    | List of string tags (`key:value`) or keys to associate this SARs with (e.g. `sars_type:high_velocity` or `sars_type`). If only the key is provided, we will match against all tags with that key        |
          | `limit`                 | Numeric     | A limit on the number of objects to be returned. Limit can range between 1 and 50, and the default is 10          |
          | `offset`                | Numeric     | The offset for pagination. Default is 1                                                                           |
          | `options`               | Object      | Options for the data included in the returned SARs. Removing unneeded options can improve response speed          |


        The `total_count` field contains the total number of sars where the  `response_count` field contains the number of sars included in the response.

        Follow the links for more information:
          - [Endpoint options](https://docs.unit21.ai/reference/endpoint-options)
          
      operationId: list_sars
      requestBody:
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/listRequest'
                - $ref: '#/components/schemas/sarListFilters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/listSarResponse'
        '400':
          description: Bad Request. Your request is invalid.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/errorResponse'
                  - $ref: '#/components/schemas/messageResponse'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '423':
          $ref: '#/components/responses/423'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '503':
          $ref: '#/components/responses/503'
  /sars/{unit21_id}:
    get:
      tags:
        - Sars API
      summary: Get a sars
      description: |-
        Returns all data objects belonging to a single SAR.

        This endpoint requires the `unit21_id` which is a unique ID created by Unit21 when the sar is first created.
      operationId: read_one_sar
      parameters:
        - $ref: '#/components/parameters/unit21_id'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sarList'
        '400':
          description: Bad Request. Your request is invalid.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/errorResponse'
                  - $ref: '#/components/schemas/messageResponse'
  /sars/bulk-export:
    post:
      tags:
        - Sars API
      summary: Bulk export sars
      description: |
        Initiates an email and dashboard export of sars. The export will be as a CSV file.

        Either the agent `ID` or `email` is required to begin the export.

        Either the `filters` or the list of `sar IDs` are required for the export.

        Custom data filters are not supported for bulk exports at this time.
      operationId: export_sars
      requestBody:
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/sarIds'
                - $ref: '#/components/schemas/sarExportFilters'
                - $ref: '#/components/schemas/csv'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bulkExportResponse'
        '400':
          description: Bad Request. Your request is invalid.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/errorResponse'
                  - $ref: '#/components/schemas/messageResponse'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '423':
          $ref: '#/components/responses/423'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '503':
          $ref: '#/components/responses/503'
  /{org_name}/entities/{entity_id}/verify:
    post:
      tags:
        - Entity Verification API
      summary: Verify an entity
      description: |
        Run a verification workflow on an entity using the `entity_id` from your platform. 

        Requires a `workflow_id`. You can create a verification workflow from the Unit21 dashboard.

        This endpoint requires the `entity_id` which is a unique ID created by your organization to identify the entity. The `org_name` is your Unit21 appointed organization name such as `google` or `acme`.
      operationId: run_verifications_workflow_through_external_id
      parameters:
        - $ref: '#/components/parameters/entity_id'
        - $ref: '#/components/parameters/org_name'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/entityVerification'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  end_action:
                    type: string
                    description: The end result of the workflow, one of a set of end results defined by the workflow
                  is_success:
                    type: boolean
                    description: Whether or not the workflow successful completed. Workflows rely on external services, which may at times fail
                  results:
                    type: object
                    description: Object mapping from the executed verifications (e.g. IDOLOGY:DOC_VERIFICATION)
                  full_response:
                    type: object
                    description: The raw response from the verification provider. Contents depend on the verification source and type.
              example:
                end_action: $REJECT
                is_success: true
                results:
                  IDOLOGY:DOC_VERIFICATION:
                    parsed_result: CAPTURE_NOT_APPROVED
                    verification_result_id: 73
                  IDOLOGY:ID_VERIFICATION:
                    parsed_result: ID_NON_MATCH
                    verification_result_id: 71
                  IDOLOGY:WATCHLIST_SCREENING:
                    parsed_result: NO_RESTRICTION
                    verification_result_id: 72
                full_response:
                  info: This response depends on the verification source
        '400':
          description: Bad Request. Your request is invalid.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/errorResponse'
                  - $ref: '#/components/schemas/messageResponse'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '429':
          $ref: '#/components/responses/429'
        '500':
[...]
