openapi: 3.0.3
info:
  title: Unit21 API Endpoints
  description: |
    Every endpoint available to consumers of the Unit21 API.
  version: '1.0'
  contact:
    name: Unit21
    url: 'https://unit21.ai'
servers:
  - url: 'https://sandbox1-api.unit21.com/v1'
    description: Sandbox1 server for testing
  - url: 'https://sandbox2-api.unit21.com/v1'
    description: Sandbox2 server for testing
security:
  - ApiKeyAuth: []
tags:
  - name: Entities
    description: >
      _Entities_ are typically businesses or users that have transactions on
      your platform.  The `/entities` endpoint can create, list, and update
      entities.
  - name: Events
    description: >
      Events have two types, _transaction events_  and _action events_:

      * Transaction events are any monetary flow that is sent or received by an
      entity on your system.

      * Action events are non-monetary changes of state that occur on your
      system, e.g. user logins. The `/events` endpoint sends and receives data
      about significant actions that occur with an entity or instrument on your
      system.  
  - name: Instruments
    description: >
      _Instruments_ represent any physical, digital, or logical intermediary
      between an entity and a transaction event. The `/instruments` endpoint can
      create, list, and update instruments. 
  - name: Devices
    description: >
      Devices representing any computer or physical device used to execute an
      event. Devices are most suitable when events can be traced back to a
      specific device fingerprint. The `/devices` endpoint can create, list, and
      update instruments. 
  - name: Agents
    description: >
      Agents are your organization's members who use the Unit21 system to
      investigate suspicious objects and events. The `/agents` endpoint can list
      your agents. 
  - name: Rules
    description: >
      Rules are the model logic that will find fraudulent and suspicious
      transactions and actions. Rules create alerts that can turn into cases
      with flagged entities, transactions and instruments. The `/rules` endpoint
      can get and list rules. 
  - name: Alerts
    description: >
      Alerts have two origins. Typically, alerts are generated whenever a Unit21
      detection tool (like a rule) flags an object, like an entity. However,
      your organization can also send alerts generated from your in-house
      detection systems. The `/alerts` endpoint can create, list, and update
      alerts. 
  - name: Cases
    description: >
      Cases are usually active investigations, which may span multiple events,
      entities and documents. They can be directly escalated into a suspicious
      activity report. The `/cases` endpoint can create, list, and update
      cases. 
  - name: Sars
    description: >
      Sars are cases that have been investigated and turned into a Suspicious
      Activity report with the intent to file it to FinCen. The `/sars` endpoint
      can get and list sars. 
  - name: Entity verification
    description: >
      Unit21 can execute entity verifications according to steps defined in
      system workflows. They can run when a new entity is added to the system,
      an update is made to an existing entity, or by directly triggering an API
      endpoint.
  - name: Verification forms
    description: >
      With verification forms, you can automate ID verification and user
      collection. To gather user input, the `verification forms` endpoint
      creates a URL. This URL is only valid for a specified period of time.
  - name: Tag associations
    description: >
      _Tags_ provide a flexible means of linking objects together in the Unit21
      system. You can use the `/tag-associations` endpoint to explore these
      associations.
  - name: Webhooks
    description: >
      Whenever an event happens on the Unit21 platform, Unit21 can send a
      webhook about the event to whatever URL you configure. Such events include
      entity verification results, generated alerts, case re-openings and
      closings, etcetera.
  - name: Blacklists
    description: >
      _Blacklists_ comprise one of the following categories: * of entities
      (users or business) * IPs (single or ranges) * strings
  - name: Datafiles
    description: >
      If you want to bulk upload multiple objects, you can send them via a POST
      to the `/datafiles` endpoint. For the fastest processing, the datafile
      SHOULD be a JSON file in the format of a typical POST request to this API.
paths:
  /entities:
    tags:
      - Events
    summary: Events
    description: |
      SUPER PARTY COOL
  /entities/list:
    post:
      tags:
        - Entities
      summary: List entities
      description: >-
        Returns paginated list of of top-level information about entities. Use
        `limit` to configure entities per page (maximum is 50).
      operationId: list_entities
      requestBody:
        $ref: '#/components/requestBodies/list'
      responses:
        '200':
          description: OK
          content:
            application/json:
              example:
                entities:
                  - business_data:
                      account_holder_name: Peter Savage
                      business_name: Segavas Ltd
                      corporate_tax_id: null
                    communication_data:
                      email_addresses:
                        - peter@segavas.co.uk
                      phone_numbers:
                        - ''
                    custom_data:
                      AddressId: 1823116
                      MarketplaceName: Kigo Intl
                      VAT#: '7592753'
                    digital_data:
                      client_fingerprints: []
                      ip_addresses: []
                    document_data: []
                    general_data:
                      children: []
                      continuous_monitoring: false
                      entity_id: 587944-1823116.0
                      entity_subtype: payments
                      entity_type: business
                      is_spooled: false
                      parents: []
                      registered_at: null
                      status: approved-escrow
                      tags: []
                    instrument_ids: []
                    location_data:
                      - building_number: null
                        city: Bristol
                        country: GB
                        postal_code: null
                        state: null
                        street_name: Freshford House
                        type: null
                        unit_number: null
                    media_data: []
                    unit21_id: '162384277'
                  - business_data:
                      account_holder_name: Peter Savage
                      business_name: Segavas Ltd
                      corporate_tax_id: null
                    communication_data:
                      email_addresses:
                        - peter@segavas.co.uk
                      phone_numbers:
                        - ''
                    custom_data:
                      AddressId: 1823113
                      MarketplaceName: Kigo Intl
                      VAT#: '7592753'
                    digital_data:
                      client_fingerprints: []
                      ip_addresses: []
                    document_data: []
                    general_data:
                      children: []
                      continuous_monitoring: false
                      entity_id: 587943-1823113.0
                      entity_subtype: payments
                      entity_type: business
                      is_spooled: false
                      parents: []
                      registered_at: null
                      status: approved-escrow
                      tags: []
                    instrument_ids: []
                    location_data:
                      - building_number: null
                        city: Bristol
                        country: GB
                        postal_code: null
                        state: null
                        street_name: Freshford House
                        type: null
                        unit_number: null
                    media_data: []
                    unit21_id: '162384276'
                response_count: 2
                total_count: 44237
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '423':
          $ref: '#/components/responses/423'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '503':
          $ref: '#/components/responses/503'
  /entities/create:
    post:
      tags:
        - Entities
      summary: Create an entity
      description: >
        Creates a new entity, sending entity data in the request body. Two
        objects are required: `general_data` and EITHER `user_data` OR
        `business_data`.


        You can also batch upload entities to `entities/create`. 
      operationId: create_entity
      requestBody:
        description: ''
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/createUser'
                - $ref: '#/components/schemas/createBusiness'
            example:
              user_data:
                first_name: John
                middle_name: Joseph
                last_name: Smith
                day_of_birth: 23
                month_of_birth: 12
                year_of_birth: 1990
                gender: female
                ssn: 733-99-5921
              general_data:
                entity_id: u-3593dece-6642-4cdc-8547-aafc1454e0a0
                entity_type: user
                entity_subtype: contractor
                status: active
                registered_at: 1623365011
                parents:
                  - entity_id: entity-5500
                    entity_type: user
                tags:
                  - 'Sector:Europe'
              options:
                identity_verifications:
                  workflow_id: sanctions_check_1
                  run_verifications: false
                  synchronous_response: false
                include_full_response: false
                resolve_geoip: true
                merge_custom_data: false
                list_merge_strategy: union
                upsert_on_conflict: true
              document_data:
                - document_id: G3352403F
                  document_type: drivers_license
                  state: CA
                  country: US
                  issued_at: 1572673226
                  expires_at: 1572673227
              instrument_ids:
                - 11b72726-18d6-43b3-a0bf-b4adf6dfd2da
                - 54gh2726-76j6-3900-lkbf-b4adf6d36hfa
              communication_data:
                email_addresses:
                  - JohnJay@example.com
                phone_numbers:
                  - '+14159627132'
              digital_data:
                ip_addresses:
                  - ip_address: 255.255.255.255
                    first_seen: 1623365011
                    last_seen: 1623365011
                client_fingerprints:
                  - 4908hsdfknkd90432nj3k2kj2jk23kj2k3jk2j3
              location_data:
                - type: SHIPPING
                  building_number: 6c
                  unit_number: 22a
                  street_name: California Ave
                  city: Redmond
                  state: CA
                  postal_code: 07710-0001
                  country: US
              risk_scores:
                name: risk_score1
                score: 65
                denominator: 100
              custom_data:
                internal_notes: Reviewed by Mitchell on 31 June 2019
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createEntityResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '423':
          $ref: '#/components/responses/423'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '503':
          $ref: '#/components/responses/503'
  '/entities/{unit21_id}':
    get:
      tags:
        - Entities
      summary: Get an entity
      description: >-
        Returns all data objects belonging to a single entity, including
        `general_data`, `document_data`, etc.
      operationId: get_entity_by_unit21_id
      parameters:
        - $ref: '#/components/parameters/unit21_id'
      responses:
        '200':
          description: OK
          content:
            application/json:
              example:
                unit21_id: '1237466'
                user_data:
                  day_of_birth: 21
                  first_name: Andrew
                  gender: male
                  last_name: Velazquez
                  middle_name: Gerald
                  month_of_birth: 1
                  ssn: 197-64-6627
                  year_of_birth: 1987
                communication_data:
                  email_addresses: []
                  phone_numbers: []
                custom_data: null
                digital_data:
                  client_fingerprints: []
                  ip_addresses: []
                document_data:
                  - country: US
                    document_id: G3352413F
                    document_type: drivers_license
                    expires_at: null
                    issued_at: null
                    state: CA
                  - country: US
                    document_id: E1234566798D
                    document_type: passport
                    expires_at: null
                    issued_at: null
                    state: FL
                general_data:
                  children: []
                  entity_id: u-3593dece-6642-4cdc-8547-aafc1454e0a0
                  entity_subtype: null
                  entity_type: user
                  is_spooled: false
                  parents: []
                  registered_at: 1591905045
                  status: active
                  tags: []
                instrument_ids:
                  - instrumentC-08c4af4f-2392-4808-afb5-335b166293b7
                location_data: []
                media_data:
                  - created_at: 1620831331
                    media_type: null
                    name: mergeIT2
                  - created_at: 1620831331
                    media_type: IMAGE_PASSPORT_FRONT
                    name: mergeIT22
                risk_scores: []
                options: []
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '423':
          $ref: '#/components/responses/423'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '503':
          $ref: '#/components/responses/503'
  '/{org_name}/entities/{entity_id}':
    get:
      tags:
        - Entities
      summary: Get an entity using external ID
      description: >-
        Returns all data objects belonging to a single entity, including
        `general_data`, `document_data`, etc.
      operationId: get_entity_by_external
      parameters:
        - $ref: '#/components/parameters/entity_id'
        - $ref: '#/components/parameters/org_name'
      responses:
        '200':
          description: OK
          content:
            application/json:
              example:
                unit21_id: '1237466'
                user_data:
                  day_of_birth: 21
                  first_name: Andrew
                  gender: male
                  last_name: Velazquez
                  middle_name: Gerald
                  month_of_birth: 1
                  ssn: 197-64-6627
                  year_of_birth: 1987
                communication_data:
                  email_addresses: []
                  phone_numbers: []
                custom_data: null
                digital_data:
                  client_fingerprints: []
                  ip_addresses: []
                document_data:
                  - country: US
                    document_id: G3352413F
                    document_type: drivers_license
                    expires_at: null
                    issued_at: null
                    state: CA
                  - country: US
                    document_id: E1234566798D
                    document_type: passport
                    expires_at: null
                    issued_at: null
                    state: FL
                general_data:
                  children: []
                  entity_id: u-3593dece-6642-4cdc-8547-aafc1454e0a0
                  entity_subtype: null
                  entity_type: user
                  is_spooled: false
                  parents: []
                  registered_at: 1591905045
                  status: active
                  tags: []
                instrument_ids:
                  - instrumentC-08c4af4f-2392-4808-afb5-335b166293b7
                location_data: []
                media_data:
                  - created_at: 1620831331
                    media_type: null
                    name: mergeIT2
                  - created_at: 1620831331
                    media_type: IMAGE_PASSPORT_FRONT
                    name: mergeIT22
                risk_scores: []
                options: []
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '423':
          $ref: '#/components/responses/423'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '503':
          $ref: '#/components/responses/503'
  '/entities/{unit21_id}/update':
    put:
      tags:
        - Entities
      summary: Update an entity
      operationId: update_entity
      description: >-
        Updating an entity has no required fields. You MAY send any subset of
        the fields that the [`entities/create`](ref:create_entity) endpoint
        accepts.
      parameters:
        - $ref: '#/components/parameters/unit21_id'
      requestBody:
        description: Any or all of the following objects are accepted
        required: true
        content:
          application/json:
            schema:
              anyOf:
                - $ref: '#/components/schemas/generalEntities'
                - $ref: '#/components/schemas/documentDataArray'
                - $ref: '#/components/schemas/communicationData'
                - $ref: '#/components/schemas/digitalDataArray'
                - $ref: '#/components/schemas/locationDataArray'
                - $ref: '#/components/schemas/riskScores'
                - $ref: '#/components/schemas/entityOptions'
                - $ref: '#/components/schemas/customData'
                - $ref: '#/components/schemas/userData'
                - $ref: '#/components/schemas/businessData'
      responses:
        '200':
          description: OK
          content:
            application/json:
              example:
                entity_id: e910dnc92el
                unit21_id: 32403
  '/{org_name}/entities/{entity_id}/update':
    put:
      tags:
        - Entities
      summary: Update entity using external ID
      description: >-
        Update an entity using the `entity_id` from your platform. Except for
        the path syntax, the request is exactly the same as the [Updating an
        Entity by `unit21_id`](ref:update_entity)
      operationId: update_entity_by_external
      parameters:
        - $ref: '#/components/parameters/entity_id'
        - $ref: '#/components/parameters/org_name'
      requestBody:
        description: Any or all of the following objects are accepted
        required: true
        content:
          application/json:
            schema:
              anyOf:
                - $ref: '#/components/schemas/generalEntities'
                - $ref: '#/components/schemas/documentDataArray'
                - $ref: '#/components/schemas/communicationData'
                - $ref: '#/components/schemas/digitalDataArray'
                - $ref: '#/components/schemas/locationDataArray'
                - $ref: '#/components/schemas/riskScores'
                - $ref: '#/components/schemas/entityOptions'
                - $ref: '#/components/schemas/customData'
                - $ref: '#/components/schemas/userData'
                - $ref: '#/components/schemas/businessData'
      responses:
        '200':
          description: OK
          content:
            application/json:
              example:
                entity_id: e910dnc92el
                unit21_id: 32401
  '/entities/{unit21_id}/add-instruments':
    put:
      tags:
        - Entities
      summary: Add instruments to entity
      description: Associate an entity with an array of instruments.
      operationId: add_instruments_to_entity
      parameters:
        - $ref: '#/components/parameters/unit21_id'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/linkInstrument'
      responses:
        '200':
          description: OK
  '/entities/{unit21_id}/link-media':
    put:
      tags:
        - Entities
      summary: Add media to an entity
      description: >-
        Adds rich media objects (images, videos, etc.) to an existing entity.
        You can either send base64 encoded media via JSON, or send the media via
        form data.
      operationId: link_media_to_entity
      parameters:
        - $ref: '#/components/parameters/unit21_id'
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/linkMediaJSON'
                - $ref: '#/components/schemas/linkMediaForm'
      responses:
        '200':
          description: OK
  '/entities/{unit21_id}/verify':
    post:
      tags:
        - Entity verification
      summary: Verify an entity
      description: >
        Run a verification workflow on an entity. Requires a `workflow_id`. You
        can create a verification workflow from the Unit21 dashboard. To see
        how, review [this help
        article](https://docs.unit21.ai/dashboard/docs/kyc-verification-workflow).
      operationId: run_verification_workflow
      parameters:
        - $ref: '#/components/parameters/unit21_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/entityVerification'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  end_action:
                    type: string
                    description: >-
                      The end result of the workflow, one of a set of end
                      results defined by the workflow
                  is_success:
                    type: boolean
                    description: >-
                      Whether or not the workflow successful completed.
                      Workflows rely on external services, which may at times
                      fail
                  results:
                    type: object
                    description: >-
                      Object mapping from the executed verifications (e.g.
                      IDOLOGY:DOC_VERIFICATION)
                  full_response:
                    type: object
                    description: >-
                      The raw response from the verification provider. Contents
                      depend on the verification source and type.
              example:
                end_action: $REJECT
                is_success: true
                results:
                  'IDOLOGY:DOC_VERIFICATION':
                    parsed_result: CAPTURE_NOT_APPROVED
                    verification_result_id: 73
                  'IDOLOGY:ID_VERIFICATION':
                    parsed_result: ID_NON_MATCH
                    verification_result_id: 71
                  'IDOLOGY:WATCHLIST_SCREENING':
                    parsed_result: NO_RESTRICTION
                    verification_result_id: 72
                full_response:
                  info: This response depends on the verification source
  '/entities/{unit21_id}/link-verification-result':
    post:
      tags:
        - Entity verification
      summary: Link external verification
      description: >-
        Add the verification result from an external ID provider to an entity on
        the Unit21 system.
      operationId: add_verification_result_to_entity
      parameters:
        - $ref: '#/components/parameters/unit21_id'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/linkVerificationResult'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/linkVerificationResponse'
              example:
                created_at: 1591992745
                entity_id: '856'
                source: IDOLOGY
                type: DOC_VERIFICATION
                verification_workflow_execution_id: 59
                full_response:
                  info: This response depends on the verification source
                  placeholderKey: placeholderValue
  '/verification/result/{workflow_id}':
    get:
      tags:
        - Entity verification
      summary: Get verification results
      description: >-
        Returns all the information from the verification workflow execution for
        a specific entity.
      operationId: get_verification_result
      parameters:
        - $ref: '#/components/parameters/workflow_id'
      responses:
        '200':
          description: OK
          content:
            application/json:
              example:
                created_at: 1591992745
                entity_id: 856
                source: IDOLOGY
                type: DOC_VERIFICATION
                verification_workflow_execution_id: 59
                full_response: {}
  '/entities/{unit21_id}/continuous-monitoring':
    post:
      tags:
        - Entity verification
      summary: Update continuous monitoring
      description: >
        Add or disable Socure continuous monitoring for an entity.

        To check whether an entity has continuous monitoring enabled, head to
        the UI, then to **Entities > Verifications**. The [knowledge base
        article on continuous
        monitoring](https://docs.unit21.ai/dashboard/docs/continuous-monitoring)
        has more detailed instructions.
      operationId: update_continuous_monitoring
      parameters:
        - $ref: '#/components/parameters/unit21_id'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/continuousMonitoring'
      responses:
        '200':
          description: OK
  /events/list:
    post:
      tags:
        - Events
      summary: List events
      description: >
        Returns an array of top-level information about events in your
        environment. Because the response is paginated, the request body has a
        `limit` and `offset` field. At least one must be filled.

        * `limit`  indicates how many events the request returns (the page
        maximum is 50)

        * `offset` indicates the offset for pagination. An `offset` value of 1
        starts with the environment's first record.
      operationId: list_events
      requestBody:
        $ref: '#/components/requestBodies/list'
      responses:
        '200':
          description: Successfully returned events
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/listResponse'
              example:
                events:
                  - custom_data: {}
                    digital_data:
                      client_fingerprint: null
                      ip_address: null
                    general_data:
                      event_id: t-b168d85a-c660-418e-94d8-f50eeb46057d
                      event_subtype: credit_card
                      event_time: 1586950374
                      event_type: transaction
                      is_spooled: false
                      status: complete
                      tags: []
                    is_cold_store: false
                    location_data: null
                    transaction_data:
                      amount: 4646.34
                      exchange_rate: null
                      external_fee: null
                      internal_fee: null
                      received_amount: 4646.34
                      received_currency: usd
                      receiver_entity_id: u-1745d3b5-ea12-4479-ba2d-18e2e8601042
                      receiver_entity_type: user
                      receiver_instrument_id: '30504733005354'
                      receiver_source: internal
                      sender_entity_id: u-b6df7ada-d644-41ec-af0b-7d5875336712
                      sender_entity_type: user
                      sender_instrument_id: '3560510398609341'
                      sender_source: internal
                      sent_amount: 4646.34
                      sent_currency: usd
                      usd_conversion_notes: null
                    unit21_id: '2633544'
                  - custom_data: {}
                    digital_data:
                      client_fingerprint: null
                      ip_address: null
                    general_data:
                      event_id: t-9030cdce-2b43-40f1-832a-2ee264a41945
                      event_subtype: credit_card
                      event_time: 1586779444
                      event_type: transaction
                      is_spooled: false
                      status: complete
                      tags: []
                    is_cold_store: false
                    location_data: null
                    transaction_data:
                      amount: 14524.1
                      exchange_rate: null
                      external_fee: null
                      internal_fee: null
                      received_amount: 14524.1
                      received_currency: usd
                      receiver_entity_id: u-7b517e52-3324-4722-a2ff-60779d43ec6d
                      receiver_entity_type: user
                      receiver_instrument_id: i-4f88438d-1c4a-4a06-a1f0-d692c0bb4baa
                      receiver_source: internal
                      sender_entity_id: u-eca597f1-9e7f-45ca-b635-48723f60feb7
                      sender_entity_type: user
                      sender_instrument_id: i-7b977420-976f-4714-93bf-379c4dd5732f
                      sender_source: internal
                      sent_amount: 14524.1
                      sent_currency: usd
                      usd_conversion_notes: null
                    unit21_id: '2633543'
                    response_count: 2
                    total_count: 2000
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '423':
          $ref: '#/components/responses/423'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '503':
          $ref: '#/components/responses/503'
  /events/create:
    post:
      tags:
        - Events
      summary: Create an event
      operationId: create_event
      description: >
        Creates a new event, sending event data in the request body. Two objects
        are required: `general_data` and either `transaction_data` or
        `action_data`. `general_data` requires the fields: `event_id`,
        `event_type`, and `event_time`. `transaction_data` requires only the
        field `amount`.

        You can also batch upload entities to `events/create`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/generalEvents'
                - $ref: '#/components/schemas/transactionData'
                - $ref: '#/components/schemas/actionData'
                - $ref: '#/components/schemas/digitalData'
                - $ref: '#/components/schemas/locationData'
                - $ref: '#/components/schemas/customData'
                - $ref: '#/components/schemas/eventOptions'
              example:
                general_data:
                  event_id: t-9daaebad-478d-4ea3-bbf9-e6320d3f1cea
                  event_type: transaction
                  event_time: 1623365011
                  event_subtype: payment
                  status: active
                  device_id: 11b72726-18d6-43b3-a0bf-b4adf6dfd2da
                  parents:
                    event_id: 123
                    event_type: transaction
                  tags:
                    - 'Sector:Europe'
                transaction_data:
                  amount: 13562.83
                  sent_amount: 13562.83
                  sent_currency: USD
                  sender_entity_id: u-371b5091-da30-48a8-936b-7600f9983e80
                  sender_entity_type: user
                  sender_source: internal
                  sender_instrument_id: string
                  received_amount: 13562.83
                  received_currency: USD
                  receiver_entity_id: u-d8e1d453-c205-4996-a935-ff08be01bcd1
                  receiver_entity_type: business
                  receiver_source: internal
                  receiver_instrument_id: t376839428256371
                  exchange_rate: 1.0012
                  usd_conversion_notes: N/A
                  internal_fee: 5
                  external_fee: 5
                action_data:
                  action_type: LOGIN
                  action_details: Through mobile app v0.8.8
                  entity_id: 371c4d7b-0563-4685-aab1
                  entity_type: user
                  instrument_id: 238938823-34347686-39405443
                digital_data:
                  ip_address: 255.255.255.255
                location_data:
                  type: SHIPPING
                  building_number: 6c
                  unit_number: 22a
                  street_name: California Ave
                  city: Redmond
                  state: CA
                  postal_code: 07710-0001
                  country: US
                custom_data:
                  internal_notes: Reviewed by Mitchell on 31 June 2019
                options:
                  monitor: true
                  resolve_geoip: true
                  link_digital_data_to_entity: true
                  linked_entity: sender
                  merge_custom_data: false
                  list_merge_strategy: union
                  upsert_on_conflict: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              example:
                event_id: 40df948s-0563-aab1-4685
                unit21_id: '43245'
  '/events/{unit21_id}':
    get:
      tags:
        - Events
      summary: Get an event
      description: Returns all data objects belonging to a single event.
      operationId: get_event_by_unit21_id
      parameters:
        - $ref: '#/components/parameters/unit21_id'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  is_cold_store:
                    description: |
                      `true` if the event has been migrated to coldstore
                    type: boolean
                    example: false
              example:
                general_data:
                  event_id: t-b168d85a-c660-418e-94d8-f50eeb46057d
                  event_subtype: credit_card
                  event_time: 1586950374
                  event_type: transaction
                  is_spooled: false
                  status: complete
                  tags: []
                transaction_data:
                  amount: 4646.34
                  exchange_rate: null
                  external_fee: null
                  internal_fee: null
                  received_amount: 4646.34
                  received_currency: usd
                  receiver_entity_id: u-1745d3b5-ea12-4479-ba2d-18e2e8601042
                  receiver_entity_type: user
                  receiver_instrument_id: '30504733005354'
                  receiver_source: internal
                  sender_entity_id: u-b6df7ada-d644-41ec-af0b-7d5875336712
                  sender_entity_type: user
                  sender_instrument_id: '3560510398609341'
                  sender_source: internal
                  sent_amount: 4646.34
                  sent_currency: usd
                  usd_conversion_notes: null
                unit21_id: '2633544'
                custom_data: {}
                digital_data:
                  client_fingerprint: null
                  ip_address: null
                is_cold_store: false
                location_data: null
  '/{org_name}/events/{event_id}':
    get:
      tags:
        - Events
      summary: Get an event using external ID
      description: Returns all data objects belonging to a single event.
      operationId: get_event_by_unit21_id
      parameters:
        - $ref: '#/components/parameters/event_id'
        - $ref: '#/components/parameters/org_name'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  is_cold_store:
                    description: |
                      `true` if the event has been migrated to coldstore
                    type: boolean
                    example: false
              example:
                general_data:
                  event_id: t-b168d85a-c660-418e-94d8-f50eeb46057d
                  event_subtype: credit_card
                  event_time: 1586950374
                  event_type: transaction
                  is_spooled: false
                  status: complete
                  tags: []
                transaction_data:
                  amount: 4646.34
                  exchange_rate: null
                  external_fee: null
                  internal_fee: null
                  received_amount: 4646.34
                  received_currency: usd
                  receiver_entity_id: u-1745d3b5-ea12-4479-ba2d-18e2e8601042
                  receiver_entity_type: user
                  receiver_instrument_id: '30504733005354'
                  receiver_source: internal
                  sender_entity_id: u-b6df7ada-d644-41ec-af0b-7d5875336712
                  sender_entity_type: user
                  sender_instrument_id: '3560510398609341'
                  sender_source: internal
                  sent_amount: 4646.34
                  sent_currency: usd
                  usd_conversion_notes: null
                unit21_id: '2633544'
                custom_data: {}
                digital_data:
                  client_fingerprint: null
                  ip_address: null
                is_cold_store: false
                location_data: null
  '/events/{unit21_id}/update':
    put:
      tags:
        - Events
      summary: Update event
      description: >
        Updates an event. In the request body, you MAY send any subset of the
        fields that the [`events/create`](ref:create_event) endpoint accepts.


        Note that you can also update an event using an upsert through
        `/events/create`.
      operationId: update_event
      parameters:
        - $ref: '#/components/parameters/unit21_id'
      requestBody:
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/eventOptions'
              anyOf:
                - $ref: '#/components/schemas/generalEvents'
                - $ref: '#/components/schemas/transactionData'
                - $ref: '#/components/schemas/actionData'
                - $ref: '#/components/schemas/locationData'
                - $ref: '#/components/schemas/digitalData'
                - $ref: '#/components/schemas/customData'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createEventResponse'
              example:
                event_id: t-9daaebad-478d-4ea3-bbf9-e6320d3f1cea
                previously_existed: true
                unit21_id: '2633581'
  '/{org_name}/events/{event_id}/update':
    put:
      tags:
        - Events
      summary: Update event using external ID
      description: >-
        Update an event using the `event_id` from your platform. Except for the
        path syntax, the request is exactly the same as the [Updating an Entity
        by `unit21_id`](ref:update_entity).
      operationId: update_event_by_external
      parameters:
        - $ref: '#/components/parameters/event_id'
        - $ref: '#/components/parameters/org_name'
      requestBody:
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/eventOptions'
              anyOf:
                - $ref: '#/components/schemas/generalEvents'
                - $ref: '#/components/schemas/digitalData'
                - $ref: '#/components/schemas/locationData'
                - $ref: '#/components/schemas/transactionData'
                - $ref: '#/components/schemas/actionData'
      responses:
        '200':
          description: OK
          content:
            application/json:
              example:
                event_id: t-7d258c89-de60-4acd-acc8-db62506953d3
                unit21_id: '2633554'
  /instruments/list:
    post:
      tags:
        - Instruments
      summary: List instruments
      description: >
        Returns an array of top-level information about instruments in your
        environment. Because the response is paginated, the request body has a
        `limit` and an `offset` field. The API requires a value for at least one
        of these fields.
      operationId: list_instruments
      requestBody:
        $ref: '#/components/requestBodies/list'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/listResponse'
              example:
                instruments:
                  - custom_data: null
                    instrument_id: i-512f1b1b-eac2-410d-a80e-afcab151ea61
                    instrument_type: bank_account
                    is_spooled: false
                    parent_instrument_id: null
                    registered_at: null
                    source: null
                    status: inactive
                    tags: []
                    unit21_id: '198374'
                  - custom_data:
                      credit_card_expiration: 01/25
                      credit_card_provider: VISA 13 digit
                    instrument_id: '502099715109'
                    instrument_type: credit_card
                    is_spooled: false
                    parent_instrument_id: null
                    registered_at: null
                    source: null
                    status: inactive
                    tags: []
                    unit21_id: '198373'
                  - custom_data:
                      credit_card_expiration: 11/29
                      credit_card_provider: JCB 16 digit
                    instrument_id: '342735341049060'
                    instrument_type: credit_card
                    is_spooled: false
                    parent_instrument_id: null
                    registered_at: null
                    source: null
                    status: active
                    tags: []
                    unit21_id: '198372'
                  - custom_data: null
                    instrument_id: i-95216b1b-b43b-44ef-9a92-6298565b9c86
                    instrument_type: bank_account
                    is_spooled: false
                    parent_instrument_id: null
                    registered_at: null
                    source: null
                    status: active
                    tags: []
                    unit21_id: '198371'
                response_count: 4
                total_count: 204
  /instruments/create:
    post:
      tags:
        - Instruments
      summary: Create an instrument
      operationId: create_instrument
      description: |
        Creates a new instrument, sending instrument data in the request body.

        You can also batch upload entities to `instruments/create`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
                - instrument_id
                - instrument_type
              allOf:
                - $ref: '#/components/schemas/Instruments'
                - $ref: '#/components/schemas/entityArray'
                - $ref: '#/components/schemas/locationDataArray'
                - $ref: '#/components/schemas/digitalData'
                - $ref: '#/components/schemas/customData'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createInstrumentResponse'
              example:
                instrument_id: inst-235-r431
                previously_existed: false
                unit21_id: '134755129'
  '/instruments/{unit21_id}':
    get:
      tags:
        - Instruments
      summary: Get an instrument
      description: Returns all data objects belonging to a single instrument.
      operationId: get_instrument_by_unit21_id
      parameters:
        - $ref: '#/components/parameters/unit21_id'
      responses:
        '200':
          description: OK
          content:
            application/json:
              example:
                custom_data: null
                instrument_id: i-f8bc4f6b-b59a-4bd0-ba86-aff547a3a7ce
                instrument_type: bank_account
                is_spooled: false
                parent_instrument_id: null
                registered_at: null
                source: null
                status: inactive
                tags: []
                unit21_id: '198446'
  '/{org_name}/instruments/{entity_id}':
    get:
      tags:
        - Instruments
      summary: Get an instrument using external ID
      description: Returns all data objects belonging to a single instrument.
      operationId: get_instrument_by_unit21_id
      parameters:
        - $ref: '#/components/parameters/instrument_id'
        - $ref: '#/components/parameters/org_name'
      responses:
        '200':
          description: OK
          content:
            application/json:
              example:
                custom_data: null
                instrument_id: i-f8bc4f6b-b59a-4bd0-ba86-aff547a3a7ce
                instrument_type: bank_account
                is_spooled: false
                parent_instrument_id: null
                registered_at: null
                source: null
                status: inactive
                tags: []
                unit21_id: '198446'
  '/instruments/{unit21_id}/update':
    put:
      tags:
        - Instruments
      summary: Update an instrument
      description: >
        Updates an instrument. In the request body, you MAY send any subset of
        the fields that the [`instruments/create`](ref:create_instrument)
        endpoint accepts.


        Note that you can also update an instrument using an upsert through
        `/instruments/create`.
      operationId: update_instrument
      parameters:
        - $ref: '#/components/parameters/unit21_id'
      requestBody:
        content:
          application/json:
            schema:
              anyOf:
                - $ref: '#/components/schemas/Instruments'
                - $ref: '#/components/schemas/entityArray'
                - $ref: '#/components/schemas/locationDataArray'
                - $ref: '#/components/schemas/digitalData'
                - $ref: '#/components/schemas/customData'
      responses:
        '200':
          description: OK
          content:
            application/json:
              example:
                instrument_id: 3234-sdghfdf-3332
                unit21_id: '49073'
  '/{org_name}/instruments/{instrument_id}/update':
    put:
      tags:
        - Instruments
      summary: Update instrument using external ID
      description: >-
        Updates an instrument using the `instrument_id` from your platform.
        Except for the path syntax, the request is exactly the same as the
        [Updating an Entity by `unit21_id`](ref:update_entity).
      operationId: update_instrument_by_external
      parameters:
        - $ref: '#/components/parameters/instrument_id'
        - $ref: '#/components/parameters/org_name'
      requestBody:
        content:
          application/json:
            schema:
              anyOf:
                - $ref: '#/components/schemas/Instruments'
                - $ref: '#/components/schemas/entityArray'
                - $ref: '#/components/schemas/locationDataArray'
                - $ref: '#/components/schemas/digitalData'
                - $ref: '#/components/schemas/customData'
      responses:
        '200':
          description: OK
          content:
            application/json:
              example:
                instrument_id: 3234-sdghfdf-3332
                unit21_id: '49073'
  /devices/list:
    post:
      tags:
        - Devices
      summary: List devices
      description: >
        Returns an array of top-level information about devices in your
        environment. Because the response is paginated, the request body has a
        `limit` and an `offset` field. The API requires a value for at least one
        of these fields.
      operationId: list_devices
      requestBody:
        $ref: '#/components/requestBodies/list'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listResponse'
              example:
                devices:
                  devices:
                    - app_version: 5.44.5
                      custom_data: null
                      device_id: 11b72726-18d6-43b3-a0bf-b4adf6d576474
                      device_manufacturer: samsung
                      device_model: SM-N970U
                      device_subtype: ios
                      device_type: mobile
                      entities:
                        - entity_id: userA-11b72726-18d6-43b3-a0bf-b4adf6dfd2da
                          entity_type: user
                          unit21_id: 571485314
                      is_spooled: false
                      network_carrier: AT&T
                      network_cellular: false
                      os_name: Android
                      os_version: '10'
                      phone_numbers:
                        - '+1234567890'
                      registered_at: 1572672326
                      status: active
                      tags:
                        - 'sector:europe'
                      timezone: America/Los_Angeles
                      unit21_id: '601'
                    - app_version: 5.44.5
                      custom_data:
                        nft_asset_hash: 59790095
                        nft_copies: 2250
                        nft_creator: cryptocomnft
                        nft_creator_id: '792843'
                        nft_edition: 567
                        nft_name: The 24/7 Trader
                      device_id: 132926-18dewew6-43b3-a0bf-b1234
                      device_manufacturer: samsung
                      device_model: SM-N970U
                      device_subtype: android
                      device_type: mobile
                      entities:
                        - entity_id: userA-11b72726-18d6-43b3-a0bf-b4adf6dfd2da
                          entity_type: user
                          unit21_id: 571485314
                      is_spooled: false
                      network_carrier: KTV
                      network_cellular: true
                      os_name: Android
                      os_version: '10'
                      phone_numbers:
                        - '+1234567890'
                      registered_at: 1572672326
                      status: active
                      tags:
                        - 'sector:korea'
                      timezone: Seoul
                      unit21_id: '436'
                  response_count: 2
                  total_count: 16
  /devices/create:
    post:
      tags:
        - Devices
      summary: Create a device
      operationId: create_device
      description: |
        Creates a new device, sending device data in the request body.

        You can also batch upload entities to `devices/create`. 
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/Devices'
              anyOf:
                - $ref: '#/components/schemas/entityArray'
                - $ref: '#/components/schemas/locationDataArray'
                - $ref: '#/components/schemas/digitalData'
                - $ref: '#/components/schemas/customData'
            example:
              device_id: 11b72726-18d6-43b3-a0bf-b4adf6dfd2da
              device_type: mobile
              device_subtype: android
              status: active
              registered_at: 1623365011
              os_name: Android
              os_version: 10.1.x
              app_version: 5.44.4
              device_manufacturer: samsung
              device_model: SM-N970U
              timezone: UTC-7
              network_carrier: T-Mobile
              network_cellular: true
              phone_numbers:
                - '+14159627132'
              entities:
                - entity_id: u-3593dece-6642-4cdc-8547-aafc1454e0a0
                  entity_type: user
              tags:
                - 'Sector:Europe'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createDeviceResponse'
              example:
                device_id: device-3232
                previously_existed: true
                unit21_id: '403746'
  '/devices/{unit21_id}':
    get:
      tags:
        - Devices
      summary: Get a device
      description: Returns all data objects belonging to a single device
      operationId: get_device_by_unit21_id
      parameters:
        - $ref: '#/components/parameters/unit21_id'
      responses:
        '200':
          description: OK
          content:
            application/json:
              example:
                app_version: 5.44.5
                custom_data: null
                device_id: 11b72726-18d6-43b3-a0bf-b4adf6d576474
                device_manufacturer: samsung
                device_model: SM-N970U
                device_subtype: ios
                device_type: mobile
                entities:
                  - entity_id: userA-11b72726-18d6-43b3-a0bf-b4adf6dfd2da
                    entity_type: user
                    unit21_id: 571485314
                is_spooled: false
                network_carrier: AT&T
                network_cellular: false
                os_name: Android
                os_version: '10'
                phone_numbers:
                  - '+1234567890'
                registered_at: 1572672326
                status: active
                tags:
                  - 'sector:europe'
                timezone: America/Los_Angeles
                unit21_id: '601'
  '/{org_name}/devices/{device_id}':
    get:
      tags:
        - Devices
      summary: Get a device using external ID
      description: Returns all data objects belonging to a single device
      operationId: get_device_by_external
      parameters:
        - $ref: '#/components/parameters/device_id'
        - $ref: '#/components/parameters/org_name'
      responses:
        '200':
          description: OK
          content:
            application/json:
              example:
                app_version: 5.44.5
                custom_data: null
                device_id: 11b72726-18d6-43b3-a0bf-b4adf6d576474
                device_manufacturer: samsung
                device_model: SM-N970U
                device_subtype: ios
                device_type: mobile
                entities:
                  - entity_id: userA-11b72726-18d6-43b3-a0bf-b4adf6dfd2da
                    entity_type: user
                    unit21_id: 571485314
                is_spooled: false
                network_carrier: AT&T
                network_cellular: false
                os_name: Android
                os_version: '10'
                phone_numbers:
                  - '+1234567890'
                registered_at: 1572672326
                status: active
                tags:
                  - 'sector:europe'
                timezone: America/Los_Angeles
                unit21_id: '601'
  '/devices/update/{unit21_id}':
    put:
      tags:
        - Devices
      summary: Update a device
      description: >
        Updates a device. In the request body, you MAY send any subset of the
        fields that the [`devices/create`](ref:create_device) endpoint accepts.


        Note that you can also update a device using an upsert through
        `/devices/create`.
      operationId: update_device
      parameters:
        - $ref: '#/components/parameters/unit21_id'
      requestBody:
        content:
          application/json:
            schema:
              anyOf:
                - $ref: '#/components/schemas/Devices'
                - $ref: '#/components/schemas/entityArray'
                - $ref: '#/components/schemas/customData'
                - $ref: '#/components/schemas/locationDataArray'
                - $ref: '#/components/schemas/digitalData'
              example:
                device_id: 11b72726-18d6-43b3-a0bf-b4adf6dfd2da
                device_type: mobile
                device_subtype: android
                status: active
                registered_at: 1623365011
                os_name: Android
                os_version: 10.1.x
                app_version: 5.44.4
                device_manufacturer: samsung
                device_model: SM-N970U
                timezone: UTC-7
                network_carrier: T-Mobile
                network_cellular: true
                phone_numbers:
                  - '+14159627132'
                tags:
                  - 'Sector:Europe'
      responses:
        '200':
          description: OK
          content:
            application/json:
              example:
                device_id: 3234-sdghfdf-3332
                unit21_id: '49073'
  '/{org_name}/devices/{device_id}/update':
    put:
      tags:
        - Devices
      summary: Update device using external ID
      description: >-
        Update a device using the `device_id` from your platform. Except for the
        path syntax, the request is exactly the same as the [Updating an Entity
        by `unit21_id`](ref:update_entity)
      operationId: update_device_by_external
      parameters:
        - $ref: '#/components/parameters/device_id'
        - $ref: '#/components/parameters/org_name'
      requestBody:
        content:
          application/json:
            schema:
              anyOf:
                - $ref: '#/components/schemas/Devices'
                - $ref: '#/components/schemas/customData'
      responses:
        '200':
          description: OK
          content:
            application/json:
              example:
                device_id: 3234-sdghfdf-3332
                unit21_id: '49073'
  /rules/list:
    post:
      tags:
        - Rules
      summary: List rules
      description: >-
        Returns paginated list of of top-level information about rules. Use
        `limit` to configure entities per page (maximum is 50).
      operationId: list_entities
      requestBody:
        $ref: '#/components/requestBodies/list'
      responses:
        '200':
          description: OK
          content:
            application/json:
              example:
                response_count: 2
                rules:
                  - created_at: 1634336166
                    deploy_end_date: null
                    deploy_start_date: 1626307200
                    description: test
                    frequency: 1m
                    lookback_period: 365d
                    rule_type: standard
                    source: INTERNAL
                    status: ACTIVE
                    tags: []
                    title: tessst
                    unit21_id: '9097753'
                  - created_at: 1634328286
                    deploy_end_date: 1634328000
                    deploy_start_date: 1631736000
                    description: test
                    frequency: 1m
                    lookback_period: 365d
                    rule_type: standard
                    source: INTERNAL
                    status: INACTIVE
                    tags:
                      - 'account_type:market2'
                    title: test
                    unit21_id: '9097723'
                total_count: 132
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '423':
          $ref: '#/components/responses/423'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '503':
          $ref: '#/components/responses/503'
  '/rules/{unit21_id}':
    get:
      tags:
        - Rules
      summary: Get a rule
      description: Returns all data objects belonging to a single rule.
      operationId: read_one_rule
      parameters:
        - $ref: '#/components/parameters/unit21_id'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                example:
                  created_at: 1634336166
                  deploy_end_date: null
                  deploy_start_date: 1626307200
                  description: test
                  frequency: 1m
                  lookback_period: 365d
                  rule_type: standard
                  source: INTERNAL
                  status: ACTIVE
                  tags: []
                  title: tessst
                  unit21_id: '9097753'
  /alerts/list:
    post:
      tags:
        - Alerts
      summary: List alerts
      description: >
        Returns an array of top-level information about alerts in your
        environment. Because the response is paginated, the request body has a
        `limit` and an `offset` field. The API requires a value for at least one
        of these fields.
      operationId: list_alerts
      requestBody:
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/listRequest'
                - $ref: '#/components/schemas/alertListFilters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/listResponse'
              example:
                alerts:
                  - alert_id: '12345'
                    alert_type: tm
                    assigned_to: person@example.com
                    created_at: 1597739123
                    custom_data: {}
                    description: Alert description
                    disposition: REJECTED
                    dispositioned_at: 1597849123
                    dispositioned_by: person@example.com
                    entities:
                      - entity_id: userA-ef3d5d41-9ac4-4071-b1fe-7dd77c80a4e8
                        entity_type: user
                        resolution: UNRESOLVED
                        unit21_id: 3789
                    events:
                      - event_id: txnBulk-11-ef3d5d41-6bc4-4070-b6ed-4dd77c90a5e8
                        event_type: transaction
                        resolution: UNRESOLVED
                        unit21_id: 98
                    instruments:
                      - instrument_id: instrument-3012850a
                        instrument_type: wallet
                        unit21_id: 427
                        resolution: UNRESOLVED
                    rules:
                      - rule_id: '123'
                        unit21_id: 456
                    source: INTERNAL
                    status: CLOSED
                    tags:
                      - 'scenario_type:blacklist'
                      - 'sameplekey:samplevalue'
                    title: Alert Title
                    unit21_id: 101
                    actions:
                      - subdispositions:
                          - subdisposition: TITLE
                            value: MISSING_DOCUMENTS
                        disposition: REJECTED
                        status_changed_to: CLOSED
                        action_time: 1597849123
                        author: person@example.com
                        disposition_notes: free form agent text describing the action/resaons
                response_count: 1
                total_count: 10
  /alerts/create:
    post:
      tags:
        - Alerts
      summary: Create alerts
      description: >
        POST an alert from your external system. To create an Alert, you MUST
        include the following fields: `alert_id`, `alert_type`, `created_at`,
        `title`, and `status`. The other top-level fields are optional.
      operationId: create_alert
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/Alerts'
                - $ref: '#/components/schemas/entityArray'
                - $ref: '#/components/schemas/eventArray'
                - $ref: '#/components/schemas/customData'
                - $ref: '#/components/schemas/instrumentArray'
                - $ref: '#/components/schemas/ruleArray'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createAlertResponse'
              example:
                alert_id: alertA-028eb01a-f8d3-42fb-b398-785b596ee4cs
                previously_existed: false
                unit21_id: '36857'
  '/alerts/{unit21_id}':
    get:
      tags:
        - Alerts
      summary: Get an alert
      description: Returns all data objects belonging to a single alert.
      operationId: get_alert_by_unit21_id
      parameters:
        - $ref: '#/components/parameters/unit21_id'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                example:
                  alert_id: null
                  alert_type: tm
                  assigned_to: null
                  created_at: 1616433282
                  custom_data: {}
                  description: >-
                    Period of no transaction activity for entity
                    u-6833a351-ae5d-4911-a2ca-715294b8ef62 from on 03-25-2020
                    09:47:54 to 04-24-2020 16:42:30
                  disposition: UNRESOLVED
                  dispositioned_at: null
                  dispositioned_by: null
                  entities:
                    - entity_id: u-6833a351-ae5d-4911-a2ca-715294b8ef62
                      entity_type: user
                      resolution: UNRESOLVED
                      unit21_id: 1237436
                  events:
                    - event_id: t-78a3561b-c9ed-4479-8e13-c8b536c44b6c
                      event_type: transaction
                      resolution: UNRESOLVED
                      unit21_id: 2631941
                    - event_id: t-67adf347-bb9d-4d5d-8086-231b9474250a
                      event_type: transaction
                      resolution: UNRESOLVED
                      unit21_id: 2632821
                    - event_id: t-c959cf38-195d-46e7-8f4c-8169de95c425
                      event_type: transaction
                      resolution: UNRESOLVED
                      unit21_id: 2632874
                    - event_id: t-699dd74d-0b5a-4471-ac18-1152a8c4aea4
                      event_type: transaction
                      resolution: UNRESOLVED
                      unit21_id: 2633014
                    - event_id: t-2d974efd-59e3-465b-a438-47a33443dbae
                      event_type: transaction
                      resolution: UNRESOLVED
                      unit21_id: 2633205
                    - event_id: t-82d9aa00-df0f-4999-b81c-84d3865eaf17
                      event_type: transaction
                      resolution: UNRESOLVED
                      unit21_id: 2633222
                  instruments: []
                  rules:
                    - rule_id: null
                      unit21_id: 17517
                  source: INTERNAL
                  status: OPEN
                  tags: []
                  title: >-
                    Rule #17517 (Account Takeover: Profile Deviation - Entities
                    that have a significant period of inactivity and resume
                    business activity with a large or high risk transaction)
                    triggered for entities:
                    u-6833a351-ae5d-4911-a2ca-715294b8ef62
                  unit21_id: '17533'
  '/alerts/{unit21_id}/update':
    put:
      tags:
        - Alerts
      summary: Update alert
      description: 'Update an alert through its `unit21_id`. '
      operationId: update_alert
      parameters:
        - $ref: '#/components/parameters/unit21_id'
      requestBody:
        content:
          application/json:
            schema:
              anyOf:
                - $ref: '#/components/schemas/Alerts'
                - $ref: '#/components/schemas/customData'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                example:
                  unit21_id: '8483'
                  alert_id: alertA-028eb01a-f8d3-42fb-b398-785b596ee4cb
  '/alerts/{unit21_id}/link-media':
    put:
      tags:
        - Alerts
      summary: Add media to an alert
      description: >-
        Adds rich media objects (images, videos, etc.) to an existing alert. You
        can either send base64 encoded media via JSON, or send the media via
        form data.
      operationId: link_media_to_alert
      parameters:
        - $ref: '#/components/parameters/unit21_id'
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/linkMediaJSON'
                - $ref: '#/components/schemas/linkMediaForm'
      responses:
        '200':
          description: OK
  /cases/list:
    post:
      tags:
        - Cases
      summary: List cases
      description: >
        Returns an array of top-level information about cases in your
        environment. Because the response is paginated, the request body has a
        `limit` and an `offset` field. The API requires a value for at least one
        of these fields.
      operationId: list_cases
      requestBody:
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/listRequest'
                - $ref: '#/components/schemas/caseListFilters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listResponse'
              example:
                cases:
                  - alerts: []
                    assigned_to: john@example.com
                    case_id: null
                    created_at: 1616433161
                    custom_data: {}
                    description: Test Case Description
                    disposition: UNRESOLVED
                    dispositioned_at: null
                    dispositioned_by: null
                    entities: []
                    events: []
                    source: INTERNAL
                    status: OPEN
                    tags: []
                    title: Test Case
                    unit21_id: '17529'
                response_count: 1
                total_count: 13
  /cases/create:
    post:
      tags:
        - Cases
      summary: Create a case
      description: >
        POST a case from your external system. To create an case, you MUST
        include the following fields: `case_id`, `title`, and `created_at`. The
        other top-level fields are optional.
      operationId: create_case
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/Cases'
                - $ref: '#/components/schemas/entityArray'
                - $ref: '#/components/schemas/eventArray'
                - $ref: '#/components/schemas/customData'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createCaseResponse'
              example:
                case_id: CaseA-1234
                previously_existed: false
                unit21_id: '36858'
  '/cases/{unit21_id}':
    get:
      tags:
        - Cases
      summary: Get a case
      description: Returns all data objects belonging to a single case.
      operationId: get_case_by_unit21_id
      parameters:
        - $ref: '#/components/parameters/unit21_id'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                example:
                  alerts: []
                  assigned_to: Alf@example.com
                  case_id: null
                  created_at: 1616433161
                  custom_data: {}
                  description: Test Case Description
                  disposition: UNRESOLVED
                  dispositioned_at: null
                  dispositioned_by: null
                  entities: []
                  events: []
                  source: INTERNAL
                  status: OPEN
                  tags: []
                  title: Test Case
                  unit21_id: '17529'
  '/cases/{unit21_id}/update':
    put:
      tags:
        - Cases
      summary: Update case
      description: >-
        Update a case through its `unit21_id`. In the request field, you MAY
        send any of the top level fields available to the `/cases/create`
        endpoint
      operationId: update_case
      parameters:
        - $ref: '#/components/parameters/unit21_id'
      requestBody:
        content:
          application/json:
            schema:
              anyOf:
                - $ref: '#/components/schemas/Cases'
                - $ref: '#/components/schemas/customData'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                example:
                  unit21_id: '8483'
                  case_id: caseA-123
  '/cases/{unit21_id}/link-media':
    put:
      tags:
        - Cases
      summary: Add media to an case
      description: >-
        Adds rich media objects (images, videos, etc.) to an existing case. You
        can either send base64 encoded media via JSON, or send the media via
        form data.
      operationId: link_media_to_case
      parameters:
        - $ref: '#/components/parameters/unit21_id'
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/linkMediaJSON'
                - $ref: '#/components/schemas/linkMediaForm'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                example:
                  unit21_id: '1423'
                  case_id: caseA-123
  /sars/list:
    post:
      tags:
        - Sars
      summary: List sars
      description: >-
        Returns paginated list of of top-level information about sars. Use
        `limit` to configure sars per page (maximum is 50).
      operationId: list_sars
      requestBody:
        $ref: '#/components/requestBodies/list'
      responses:
        '200':
          description: OK
          content:
            application/json:
              example:
                response_count: 2
                sars:
                  - amount_volume: 0
                    created_at: 1578622336
                    created_by: Clarence Chio
                    description: ''
                    entities: []
                    events: []
                    filing_type: Initial report
                    lock: ''
                    name: ''
                    report_type: FINCEN_SAR
                    status: PREFILING_VALIDATION_PENDING
                    status_updated_at: 1597948038
                    submitted: false
                    submitted_at: N/A
                    tags: []
                    txn_count: 0
                    unit21_id: 5
                    updated_at: 1623283105
                  - amount_volume: 0
                    created_at: 1582233696
                    created_by: Tyler Allen
                    description: lkigkhjbjhbkjhbk
                    entities:
                      - entity_id: userA-c1e9dcca-e46a-42e9-bb9e-2208e30e49da
                        entity_type: user
                        unit21_id: 23518
                    events:
                      - event_id: txnBulk-11-9d67f84f-f232-41ec-bf77-f37fe8adfdb0
                        event_type: transaction
                        unit21_id: 14519
                      - event_id: txnBulk-12-9d67f84f-f232-41ec-bf77-f37fe8adfdb0
                        event_type: transaction
                        unit21_id: 14520
                      - event_id: txnBulk-11-3018aa2f-f91f-4dad-9a03-ac5b1b91fa11
                        event_type: transaction
                        unit21_id: 14581
                      - event_id: txnBulk-12-3018aa2f-f91f-4dad-9a03-ac5b1b91fa11
                        event_type: transaction
                        unit21_id: 14582
                    filing_type: Initial report
                    lock: 'False'
                    name: jghvkjhgkv
                    report_type: FINCEN_SAR
                    status: PREFILING_VALIDATION_PENDING
                    status_updated_at: 1585937927
                    submitted: false
                    submitted_at: N/A
                    tags: []
                    txn_count: 0
                    unit21_id: 93
                    updated_at: 1623283105
                total_count: 651
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '423':
          $ref: '#/components/responses/423'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '503':
          $ref: '#/components/responses/503'
  '/sars/{unit21_id}':
    get:
      tags:
        - Sars
      summary: Get a sars
      description: Returns all data objects belonging to a single SAR.
      operationId: read_one_sar
      parameters:
        - $ref: '#/components/parameters/unit21_id'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                example:
                  amount_volume: 0
                  created_at: 1583869433
                  created_by: Zach Porteous
                  description: case-2
                  entities: []
                  events: []
                  filing_type: Initial report
                  lock: 'False'
                  name: case-2
                  report_type: FINCEN_SAR
                  status: PREFILING_VALIDATION_PENDING
                  status_updated_at: 1583869435
                  submitted: false
                  submitted_at: N/A
                  tags: []
                  txn_count: 0
                  unit21_id: 2966
                  updated_at: 1623283105
  /verification-forms/create:
    post:
      tags:
        - Verification forms
      summary: Create a verification form
      description: >-
        If you are verifying IDs and collecting user data, this endpoint creates
        a temporary URL to which you can redirect users.
      operationId: create_verification_form
      requestBody:
        required: true
        description: Set session length. Not required.
        content:
          application/json:
            schema:
              type: object
              properties:
                session_length_minutes:
                  type: integer
                  description: >
                    Time in minutes that form will be valid. Once this expires,
                    the user can no longer submit or view the form. Max is 10080
                    minutes (one week). Default is 1440 minutes (one day)
                  minimum: 1
                  maximum: 10080
                  default: 1440
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  redirect_to:
                    type: string
                    format: URL
                    description: URL to redirect users to fill out form
  /agents/list:
    get:
      tags:
        - Agents
      summary: List agents
      description: >-
        Returns an array of all agents in your organization who are using the
        environment
      operationId: list_agents
      responses:
        '200':
          description: OK
          content:
            application/json:
              example:
                - created_at: 1616432959
                  email: Sallyallen@example.com
                  full_name: Sally Allen
                  status: ACTIVE
                - created_at: 1613604175
                  email: JhonStrod@example.com
                  full_name: Jhon Strod
                  status: ACTIVE
  /tag-associations/list:
    post:
      tags:
        - Tag associations
      summary: List tags
      description: >
        Returns an array of objects associated with a set of tags in your
        environment. Because the response is paginated, the request body has a
        `limit` and an `offset` field. The API requires a value for at least one
        of these fields.
      operationId: list_tags
      requestBody:
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/listRequest'
                - $ref: '#/components/schemas/tagFilters'
              example:
                created_after: 1597198562
                created_before: 1598481792
                object_types:
                  - entity
                  - event
                  - instrument
                  - alert
                  - case
                  - sar
                  - agent
                  - rule
                tag_filters:
                  - 'type:aml'
                  - account_type
                limit: 1000
                offset: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              example:
                tag_associations:
                  - created_at: 1598405517
                    object_id: '351906'
                    object_type: alert
                    tag: 'account_type:market2'
                  - created_at: 1598398976
                    object_id: '351786'
                    object_type: alert
                    tag: 'account_type:market2'
                  - created_at: 1598382408
                    object_id: '346310'
                    object_type: entity
                    tag: 'type:aml'
                response_count: 2
                total_count: 29361
  '/webhooks/{unit21_id}/update':
    put:
      tags:
        - Webhooks
      summary: Update webhook URL
      description: Change the URL of an existing webhook from Unit21
      operationId: update_webhook
      parameters:
        - $ref: '#/components/parameters/unit21_id'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  type: string
                  format: URL
                  description: The URL that you want to send the webhook too.
                  example: 'https://example.com'
      responses:
        '200':
          description: OK
  /blacklists/list:
    post:
      tags:
        - Blacklists
      summary: List blacklists
      description: >
        Returns an array of blacklist in your environment. Because the response
        is paginated, the request body has a`limit` and `offset` field. At least
        one must be filled.
      operationId: list_blacklists
      requestBody:
        $ref: '#/components/requestBodies/list'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/listResponse'
                example:
                  blacklists:
                    - unit21_id: '9'
                      name: Full IP address blacklist A
                      description: Internal blacklist of errant IP addresses
                      type: IP_INET
                      created_at: 1594219333
                  response_count: 10
                  total_count: 100
  /blacklists/create:
    post:
      tags:
        - Blacklists
      summary: Create a blacklist
      description: |
        Create a new blacklist via POST. 
      operationId: create_blacklist
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createBlacklist'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                example:
                  blacklist_id: '9'
  '/blacklists/{unit21_id}/add-values':
    post:
      tags:
        - Blacklists
      summary: Add items to a blacklist
      description: |
        Add items to a blacklist, according to the blacklist's `type`.
      operationId: add_blacklist_values
      parameters:
        - $ref: '#/components/parameters/unit21_id'
      requestBody:
        content:
          application/json:
            schema:
              anyOf:
                - $ref: '#/components/schemas/blacklistUser'
                - $ref: '#/components/schemas/blacklistBusiness'
                - $ref: '#/components/schemas/blacklistINET'
                - $ref: '#/components/schemas/blacklistCIDR'
                - $ref: '#/components/schemas/blacklistString'
      responses:
        '200':
          description: OK
  /datafiles/create:
    post:
      tags:
        - Datafiles
      operationId: create_datafiles
      summary: Upload datafiles
      description: >
        Bulk upload multiple objects of the same type. Can be entities, events,
        or instruments.

        Only one file can be uploaded in a request, with a file size maximum of
        30 MB (megabytes). Please add a waiting time of two seconds between
        requests.

        Use `datafile` to specify the datafile, and `run_rules` to configure
        whether to run Unit21 rules on the datafile after it's processed.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              properties:
                datafile:
                  type: string
                  format: binary
                  description: Path to datafile
                run_rules:
                  type: boolean
                  description: Whether to run U21 rules on the datafile after processing
      responses:
        '200':
          description: OK
          content:
            applicationjson:
              example:
                file_name: file1.txt
                unit21_id: 440
  '/datafiles/{unit21_id}':
    get:
      tags:
        - Datafiles
      operationId: get_datafile_by_unit21_id
      summary: Get datafile
      description: 'Get details about a datafile, like its current status.'
      parameters:
        - $ref: '#/components/parameters/unit21_id'
      responses:
        '200':
          description: OK
          content:
            application/json:
              example:
                file_name: <filename>
                status: VALIDATION_PENDING
                unit21_id: <unit21_id>
                uploaded_at: '2020-06-01 01:42:07'
                uploaded_by: jsmith@email.com
                entity_count: 123
                event_count: 123
                instrument_count: 123
  '/datafiles/{unit21_id}/mappings':
    post:
      tags:
        - Datafiles
      operationId: get_datafile_mappings
      summary: Retrieve datafile mappings
      description: >
        Retrieve datafile mapping of objects uploaded with a datafile. Includes
        3 arrays: entities, events, instruments. Each list is limited to a
        maximum of 500 items. The total number of items can be retrieved from
        the [GET endpoint](ref:get_datafile_by_unit21_id).
      parameters:
        - $ref: '#/components/parameters/unit21_id'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                offset:
                  type: integer
                  description: offset for pagination
                  example: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              example:
                entity_list:
                  - entity_id: external_id_123
                    unit21_id: 82
                  - entity_id: external_id_222
                    unit21_id: 80
                event_list:
                  - event_id: 721-id
                    unit21_id: 49
                instrument_list:
                  - instrument_id: BTC-123
                    unit21_id: 10
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: u21-key
  schemas:
    listRequest:
      type: object
      properties:
        limit:
          type: integer
          description: Number of objects per page.
          minimum: 0
          maximum: 50
          example: 2
        offset:
          type: integer
          description: >-
            Pagination offset. A value of 1 returns a response beginning with
            the first record.
          minimum: 1
          default: 1
    entityId:
      type: string
      description: 'The unique identifier for an entity, as defined on _your_ platform.'
      minLength: 1
      maxLength: 128
      example: u-3593dece-6642-4cdc-8547-aafc1454e0a0
    entityType:
      type: string
      enum:
        - user
        - business
      description: MUST be either `USER` or `BUSINESS`
    entitySubtype:
      type: string
      description: >
        Extra information how your organization classifies the entity. You MAY
        enter any value.
      maxLength: 128
      example: contractor
    objectStatus:
      type: string
      description: Status of the object on your system. You MAY enter any string value.
      maxLength: 128
      example: active
    registeredAt:
      type: integer
      description: >-
        Date in seconds since 1 Jan 1970 00:00:00 UTC (i.e. in [Unix
        time](https://en.wikipedia.org/wiki/Unix_time)).
      example: 1623365011
    Tags:
      type: array
      description: >-
        List of string tags, in the format `keyString:valueString` (note that
        the Key strings are NOT enclosed in `"`)
      items:
        type: string
        format: key-value pair
        example: 'Sector:Europe'
    generalEntitiesProperties:
      title: General entity data
      type: object
      description: >-
        **Required** for requests to `/entities/create`. General information
        about the entity. With this object, you can link any entity on Unit21's
        system to a user or business on your platform.
      required:
        - entity_id
        - entity_type
      properties:
        entity_id:
          $ref: '#/components/schemas/entityId'
        entity_type:
          $ref: '#/components/schemas/entityType'
        entity_subtype:
          $ref: '#/components/schemas/entitySubtype'
        status:
          $ref: '#/components/schemas/objectStatus'
        registered_at:
          $ref: '#/components/schemas/registeredAt'
        parents:
          type: array
          description: >-
            The parent object consists of two fields─`entity_id` for parent
            unique identifier  and `entity_type`.
          items:
            type: object
            properties:
              entity_id:
                type: string
                description: Parent unique identifier
                maxLength: 128
                example: entity-5500
              entity_type:
                $ref: '#/components/schemas/entityType'
        tags:
          $ref: '#/components/schemas/Tags'
    userDataProperties:
      title: User Data
      type: object
      description: >
        Personal data - name, birthday, SSN etc. If `general_data.entity_type`
        is set to `user`, this field is required. However, none of the fields in
        user_data are required. You may send in an empty array: "user_data": {}
      properties:
        first_name:
          type: string
          description: User's associated first name
          maxLength: 128
          example: John
        middle_name:
          type: string
          description: User's associated middle name
          maxLength: 128
          example: Joseph
        last_name:
          type: string
          description: User's associated last name
          maxLength: 128
          example: Smith
        day_of_birth:
          type: integer
          description: Day of user's date of birth (e.g. 23)
          example: 23
        month_of_birth:
          type: integer
          description: Month of user's date of birth (e.g. 12 for December)
          example: 12
        year_of_birth:
          type: integer
          description: Year of the user's date of birth (e.g. 1990)
          example: 1990
        gender:
          type: string
          description: 'MALE, FEMALE, or OTHER'
          enum:
            - male
            - female
            - other
          example: female
        ssn:
          type: string
          pattern: '^\d{3}-\d{2}-\d{4}$'
          description: 'Social security number of the user, in the format xxx-xx-xxxx'
          maxLength: 64
          example: 733-99-5921
    State:
      type: string
      description: >-
        For the US, use the two letter state codes. Otherwise, use the country
        and regional subdivision codes. Codes are based on the [ISO 3166-1
        alpha-2 standard](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2).
      maxLength: 128
      example: CA
    documentDataProperties:
      type: object
      description: document data properties
      required:
        - document_id
        - document_type
      properties:
        document_id:
          type: string
          description: The id or number of the document
          maxLength: 128
          example: G3352403F
        document_type:
          type: string
          description: The type of the document (i.e. drivers license)
          maxLength: 128
          example: drivers_license
        state:
          $ref: '#/components/schemas/State'
        country:
          type: string
          description: >-
            provided acording to the [ISO 3166-1 alpha-2
            standard](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2].
          maxLength: 128
          example: US
        issued_at:
          type: integer
          description: >-
            Date when document was created, in seconds since 1 Jan 1970 00:00:00
            UTC (i.e. in [Unix time](https://en.wikipedia.org/wiki/Unix_time))".
          example: 1572673226
        expires_at:
          type: integer
          description: >-
            Date when document expires, in seconds since 1 Jan 1970 00:00:00 UTC
            (i.e. in [Unix time](https://en.wikipedia.org/wiki/Unix_time))".
          example: 1572673227
    documentDataArrayProperties:
      title: Document data array
      description: array of document data objects
      type: array
      items:
        $ref: '#/components/schemas/documentDataProperties'
    deviceId:
      type: string
      description: Identifier of the device within your system
      example: 11b72726-18d6-43b3-a0bf-b4adf6dfd2da
      minLength: 1
      maxLength: 128
    instrumentsArrayProperties:
      title: Instruments array
[...]
