openapi: 3.0.3
info:
  title: Unit21 API Endpoints
  description: |
    Every endpoint available to consumers of the Unit21 API.
  version: '1.0'
  contact:
    name: Unit21
    url: 'https://unit21.ai'
servers:
  - url: 'https://sandbox1-api.unit21.com/v1'
    description: Sandbox1 server for testing
  - url: 'https://sandbox2-api.unit21.com/v1'
    description: Sandbox2 server for testing
security:
  - ApiKeyAuth: []
tags:
  - name: Entities API
    description: >
      _Entities_ are typically businesses or users that have transactions on
      your platform.  The `/entities` endpoint can create, list, and update
      entities.
  - name: Events API
    description: >
      Events have two types, _transaction events_  and _action events_:

      * Transaction events are any monetary flow that is sent or received by an
      entity on your system.

      * Action events are non-monetary changes of state that occur on your
      system, e.g. user logins. The `/events` endpoint sends and receives data
      about significant actions that occur with an entity or instrument on your
      system.  
  - name: Instruments API
    description: >
      Instruments represent any physical, digital, or logical intermediary
      between an entity and a transaction event. The `/instruments` endpoint can
      create, list, and update instruments. 
  - name: Devices API
    description: >
      Devices representing any computer or physical device used to execute an
      event. Devices are most suitable when events can be traced back to a
      specific device fingerprint. The `/devices` endpoint can create, list, and
      update instruments. 
  - name: Agents API
    description: >
      Agents are your organization's members who use the Unit21 system to
      investigate suspicious objects and events. The `/agents` endpoint can list
      your agents. 
  - name: Rules API
    description: >
      Rules are the model logic that will find fraudulent and suspicious
      transactions and actions. Rules create alerts that can turn into cases
      with flagged entities, transactions and instruments. The `/rules` endpoint
      can get and list rules. 
  - name: Alerts API
    description: >
      Alerts have two origins. Typically, alerts are generated whenever a Unit21
      detection tool (like a rule) flags an object, like an entity. However,
      your organization can also send alerts generated from your in-house
      detection systems. The `/alerts` endpoint can create, list, and update
      alerts. 
  - name: Cases API
    description: >
      Cases are usually active investigations, which may span multiple events,
      entities and documents. They can be directly escalated into a suspicious
      activity report. The `/cases` endpoint can create, list, and update
      cases. 
  - name: Sars API
    description: >
      Sars are cases that have been investigated and turned into a Suspicious
      Activity report with the intent to file it to FinCen. The `/sars` endpoint
      can get and list sars. 
  - name: Entity Verification API
    description: >
      Unit21 can execute entity verifications according to steps defined in
      system workflows. They can run when a new entity is added to the system,
      an update is made to an existing entity, or by directly triggering an API
      endpoint.
  - name: Verification Forms API
    description: >
      With verification forms, you can automate ID verification and user
      collection. To gather user input, the `verification forms` endpoint
      creates a URL. This URL is only valid for a specified period of time.
  - name: Tag Associations API
    description: >
      Tags provide a flexible means of linking objects together in the Unit21
      system. You can use the `/tag-associations` endpoint to explore these
      associations.
  - name: Webhooks API
    description: >
      Whenever an event happens on the Unit21 platform, Unit21 can send a
      webhook about the event to whatever URL you configure. Such events include
      entity verification results, generated alerts, case re-openings and
      closings, etcetera.
  - name: Blacklists API
    description: |
      Blacklists comprise one of the following categories:
        * of entities (users or business)
        * IPs (single or ranges)
        * strings
  - name: Datafiles API
    description: >
      If you want to bulk upload multiple objects, you can send them via a POST
      to the `/datafiles` endpoint. For the fastest processing, the datafile
      SHOULD be a JSON file in the format of a typical POST request to this API.
paths:
  /entities/list:
    post:
      tags:
        - Entities API
      summary: List entities
      description: >-
        Returns paginated list of of top-level information about entities. 


        Because the response is paginated, the request body has a `limit` and
        `offset` field. At least one must be filled.

        * `limit`  indicates how many objects the request returns (the page
        maximum is 50)

        * `offset` indicates the offset for pagination. An `offset` value of 1
        starts with the environment's first record.


        The `total_count` field contains the total number of entities where the 
        `response_count` field contains the number of entities included in the
        response.
      operationId: list_entities
      requestBody:
        $ref: '#/components/requestBodies/list'
      responses:
        '200':
          description: OK
          content:
            application/json:
              example:
                entities:
                  - business_data:
                      account_holder_name: Peter Savage
                      business_name: Segavas Ltd
                      corporate_tax_id: null
                    communication_data:
                      email_addresses:
                        - peter@segavas.co.uk
                      phone_numbers:
                        - ''
                    custom_data:
                      AddressId: 1823116
                      MarketplaceName: Kigo Intl
                      VAT#: '7592753'
                    digital_data:
                      client_fingerprints: []
                      ip_addresses: []
                    document_data: []
                    general_data:
                      children: []
                      continuous_monitoring: false
                      entity_id: 587944-1823116.0
                      entity_subtype: payments
                      entity_type: business
                      is_spooled: false
                      parents: []
                      registered_at: null
                      status: approved-escrow
                      tags: []
                    instrument_ids: []
                    location_data:
                      - building_number: null
                        city: Bristol
                        country: GB
                        postal_code: null
                        state: null
                        street_name: Freshford House
                        type: null
                        unit_number: null
                    media_data: []
                    unit21_id: '162384277'
                  - business_data:
                      account_holder_name: Peter Savage
                      business_name: Segavas Ltd
                      corporate_tax_id: null
                    communication_data:
                      email_addresses:
                        - peter@segavas.co.uk
                      phone_numbers:
                        - ''
                    custom_data:
                      AddressId: 1823113
                      MarketplaceName: Kigo Intl
                      VAT#: '7592753'
                    digital_data:
                      client_fingerprints: []
                      ip_addresses: []
                    document_data: []
                    general_data:
                      children: []
                      continuous_monitoring: false
                      entity_id: 587943-1823113.0
                      entity_subtype: payments
                      entity_type: business
                      is_spooled: false
                      parents: []
                      registered_at: null
                      status: approved-escrow
                      tags: []
                    instrument_ids: []
                    location_data:
                      - building_number: null
                        city: Bristol
                        country: GB
                        postal_code: null
                        state: null
                        street_name: Freshford House
                        type: null
                        unit_number: null
                    media_data: []
                    unit21_id: '162384276'
                response_count: 2
                total_count: 44237
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '423':
          $ref: '#/components/responses/423'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '503':
          $ref: '#/components/responses/503'
  /entities/create:
    post:
      tags:
        - Entities API
      summary: Create an entity
      description: "Creates a new entity, sending entity data in the request body. \n\nTwo objects are required: `general_data` and EITHER `user_data` OR `business_data` but the objects can be empty. The `user_data` is required if `general_data.entity_type` is set to `user`, otherwise this  field will be ignored. The `business_data` is required if `general_data.entity_type` is set to `business`,  otherwise this field will be ignored.\n\nIf the `/entities/create` API is called for an entity that already exists in our system, it is treated it as an  [upsert](https://docs.unit21.ai/u21/reference/should-i-update-or-upsert) and an update on the existing entity is performed. The response to the request will then contain the entry `previously_existed: true`. \n\nUnit21 selectively ignores upserts if the request is identical to a previous request. The response to any  ignored upsert will contain the field `ignored: true`. \n\nIf you want to perform strict validation and not perform an upsert on conflict, specifying  `options.upsert_on_conflict: false` will result in the API responding with a **409 error code** indicating  that this entity cannot be overwritten.\n\nUpdates to an entity's `general_data.entity_id` are not allowed.\n\nInstruments can be associated with entities by providing the IDs of these  instruments within the `instrument_ids` section of the request. If the instrument doesn't already exist,  Unit21 creates a [placeholder](https://docs.unit21.ai/u21/reference/placeholder-objects) instrument.\n\nWhitelisted entities cannot be updated through the `/entities/create` endpoint. \n\nWe recommend that you create entities prior to running verification. In the event you wish to run a  verification on an entity immediately, Unit21 recommends that you wait at-least 2 minutes for your entity  data to be securely stored. You will receive a **423 error code** if an entity is *busy*.\n\nFollow the links for more information:\n  - [Endpoint options](https://docs.unit21.ai/u21/reference/endpoint-options)\n  - [Verification options](https://docs.unit21.ai/u21/reference/identity-verification-options)\n  - [Risk scores](https://docs.unit21.ai/u21/reference/risk-scores)\n  - [Custom data](https://docs.unit21.ai/u21/reference/best-practices-for-custom-data)\n  - [Batch uploads](https://docs.unit21.ai/u21/reference/batch-request-examples)\n  - [Modifying tags](https://docs.unit21.ai/u21/reference/modifying-tags)\n\nThe response will consist of the following fields:\n\n  | Field | Type | Description |\n  |-----|-----|-------|\n  | `entity_id`\t             | String   | \tUnique identifier of the entity on your platform     |\n  | `unit21_id`\t             | String   | \tInternal ID of the entity within Unit21's system     |\n  | `previously_existed`\t   | Boolean  | \tIf entity (with the same `entity_id`) already exists |\n"
      operationId: create_entity
      requestBody:
        description: ''
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/createUser'
                - $ref: '#/components/schemas/createBusiness'
            example:
              user_data:
                first_name: John
                middle_name: Joseph
                last_name: Smith
                day_of_birth: 23
                month_of_birth: 12
                year_of_birth: 1990
                gender: female
                ssn: 733-99-5921
              general_data:
                entity_id: u-3593dece-6642-4cdc-8547-aafc1454e0a0
                entity_type: user
                entity_subtype: contractor
                status: active
                registered_at: 1623365011
                parents:
                  - entity_id: entity-5500
                    entity_type: user
                tags:
                  - 'Sector:Europe'
              options:
                identity_verifications:
                  workflow_id: sanctions_check_1
                  run_verifications: false
                  synchronous_response: false
                  include_full_response: false
                resolve_geoip: true
                merge_custom_data: false
                list_merge_strategy: union
                upsert_on_conflict: true
              document_data:
                - document_id: G3352403F
                  document_type: drivers_license
                  state: CA
                  country: US
                  issued_at: 1572673226
                  expires_at: 1572673227
              instrument_ids:
                - 11b72726-18d6-43b3-a0bf-b4adf6dfd2da
                - 54gh2726-76j6-3900-lkbf-b4adf6d36hfa
              communication_data:
                email_addresses:
                  - JohnJay@example.com
                phone_numbers:
                  - '+14159627132'
              digital_data:
                ip_addresses:
                  - ip_address: 255.255.255.255
                    first_seen: 1623365011
                    last_seen: 1623365011
                client_fingerprints:
                  - 4908hsdfknkd90432nj3k2kj2jk23kj2k3jk2j3
              location_data:
                - type: SHIPPING
                  building_number: 6c
                  unit_number: 22a
                  street_name: California Ave
                  city: Redmond
                  state: CA
                  postal_code: 07710-0001
                  country: US
              risk_scores:
                - name: risk_score1
                  score: 65
                  denominator: 100
                - name: risk_score1
                  score: 85
              custom_data:
                internal_notes: Reviewed by Mitchell on 31 June 2019
                reviewers: 3
                login: 1638384860
                timestamp: '2012-03-40 05:12:41.000Z'
                daily_email: true
                employees:
                  - John
                  - Anna
                  - Peter
                socure_device_session_id: '12121212121212112'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createEntityResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '423':
          $ref: '#/components/responses/423'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '503':
          $ref: '#/components/responses/503'
  '/entities/{unit21_id}':
    get:
      tags:
        - Entities API
      summary: Get an entity
      description: >-
        Returns all data objects belonging to a single entity, including
        `general_data`, `document_data`, etc.


        This endpoint requires the `unit21_id` which is a unique ID created by
        Unit21 when the entity is first created.
      operationId: get_entity_by_unit21_id
      parameters:
        - $ref: '#/components/parameters/unit21_id'
      responses:
        '200':
          description: OK
          content:
            application/json:
              example:
                unit21_id: '1237466'
                user_data:
                  day_of_birth: 21
                  first_name: Andrew
                  gender: male
                  last_name: Velazquez
                  middle_name: Gerald
                  month_of_birth: 1
                  ssn: 197-64-6627
                  year_of_birth: 1987
                communication_data:
                  email_addresses: []
                  phone_numbers: []
                custom_data: null
                digital_data:
                  client_fingerprints: []
                  ip_addresses: []
                document_data:
                  - country: US
                    document_id: G3352413F
                    document_type: drivers_license
                    expires_at: null
                    issued_at: null
                    state: CA
                  - country: US
                    document_id: E1234566798D
                    document_type: passport
                    expires_at: null
                    issued_at: null
                    state: FL
                general_data:
                  children: []
                  entity_id: u-3593dece-6642-4cdc-8547-aafc1454e0a0
                  entity_subtype: null
                  entity_type: user
                  is_spooled: false
                  parents: []
                  registered_at: 1591905045
                  status: active
                  tags: []
                instrument_ids:
                  - instrumentC-08c4af4f-2392-4808-afb5-335b166293b7
                location_data: []
                media_data:
                  - created_at: 1620831331
                    media_type: null
                    name: mergeIT2
                  - created_at: 1620831331
                    media_type: IMAGE_PASSPORT_FRONT
                    name: mergeIT22
                risk_scores: []
                options: []
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '423':
          $ref: '#/components/responses/423'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '503':
          $ref: '#/components/responses/503'
  '/{org_name}/entities/{entity_id}':
    get:
      tags:
        - Entities API
      summary: Get an entity using external ID
      description: >-
        Returns all data objects belonging to a single entity, including
        `general_data`, `document_data`, etc.


        This endpoint requires the `entity_id` which is a unique ID created by
        your organization to identify the entity. The `org_name` is your Unit21
        appointed organization name such as `google` or `acme`.
      operationId: get_entity_by_external
      parameters:
        - $ref: '#/components/parameters/entity_id'
        - $ref: '#/components/parameters/org_name'
      responses:
        '200':
          description: OK
          content:
            application/json:
              example:
                unit21_id: '1237466'
                user_data:
                  day_of_birth: 21
                  first_name: Andrew
                  gender: male
                  last_name: Velazquez
                  middle_name: Gerald
                  month_of_birth: 1
                  ssn: 197-64-6627
                  year_of_birth: 1987
                communication_data:
                  email_addresses: []
                  phone_numbers: []
                custom_data: null
                digital_data:
                  client_fingerprints: []
                  ip_addresses: []
                document_data:
                  - country: US
                    document_id: G3352413F
                    document_type: drivers_license
                    expires_at: null
                    issued_at: null
                    state: CA
                  - country: US
                    document_id: E1234566798D
                    document_type: passport
                    expires_at: null
                    issued_at: null
                    state: FL
                general_data:
                  children: []
                  entity_id: u-3593dece-6642-4cdc-8547-aafc1454e0a0
                  entity_subtype: null
                  entity_type: user
                  is_spooled: false
                  parents: []
                  registered_at: 1591905045
                  status: active
                  tags: []
                instrument_ids:
                  - instrumentC-08c4af4f-2392-4808-afb5-335b166293b7
                location_data: []
                media_data:
                  - created_at: 1620831331
                    media_type: null
                    name: mergeIT2
                  - created_at: 1620831331
                    media_type: IMAGE_PASSPORT_FRONT
                    name: mergeIT22
                risk_scores: []
                options: []
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '423':
          $ref: '#/components/responses/423'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '503':
          $ref: '#/components/responses/503'
  '/entities/{unit21_id}/update':
    put:
      tags:
        - Entities API
      summary: Update an entity
      operationId: update_entity
      description: "Updates an entity's information using the `unit21_id`.\n\nUpdating an entity has no required fields. You MAY send any subset of the fields that the `entities/create` endpoint accepts.\n\nThis endpoint requires the `unit21_id` which is a unique ID created by Unit21 when the entity is first created.\n\nNote that you can also update an entity using an upsert through `/entities/create`.\n\nFollow the links for more information:\n  - [Endpoint options](https://docs.unit21.ai/u21/reference/endpoint-options)\n  - [Verification options](https://docs.unit21.ai/u21/reference/identity-verification-options)\n  - [Risk scores](https://dash.readme.com/project/unit21/v1.0/refs/risk-scores)\n  - [Custom data](https://docs.unit21.ai/u21/reference/best-practices-for-custom-data)\n  - [Batch uploads](https://docs.unit21.ai/u21/reference/batch-request-examples)\n  - [Modifying tags](https://docs.unit21.ai/u21/reference/modifying-tags)\n\n\nThe response will consist of the following fields:\n\n  | Field | Type | Description |\n  |-----|-----|-------|\n  | `entity_id`\t             | String   | \tUnique identifier of the entity on your platform     |\n  | `unit21_id`\t             | String   | \tInternal ID of the entity within Unit21's system     |\n  | `previously_existed`\t   | Boolean  | \tIf entity (with the same `entity_id`) already exists |"
      parameters:
        - $ref: '#/components/parameters/unit21_id'
      requestBody:
        description: Any or all of the following objects are accepted
        required: true
        content:
          application/json:
            schema:
              anyOf:
                - $ref: '#/components/schemas/generalEntities'
                - $ref: '#/components/schemas/documentDataArray'
                - $ref: '#/components/schemas/communicationData'
                - $ref: '#/components/schemas/digitalDataArray'
                - $ref: '#/components/schemas/locationDataArray'
                - $ref: '#/components/schemas/riskScores'
                - $ref: '#/components/schemas/entityOptions'
                - $ref: '#/components/schemas/customData'
                - $ref: '#/components/schemas/userData'
                - $ref: '#/components/schemas/businessData'
      responses:
        '200':
          description: OK
          content:
            application/json:
              example:
                entity_id: e910dnc92el
                unit21_id: 32403
  '/{org_name}/entities/{entity_id}/update':
    put:
      tags:
        - Entities API
      summary: Update entity using external ID
      description: "Updates an entity's information using the `entity_id` from your platform. \n\nUpdating an entity has no required fields. You MAY send any  subset of the fields that the entities/create endpoint accepts.\n\nThis endpoint requires the `entity_id` which is a unique ID created by your organization to identify the entity. The `org_name` is your Unit21 appointed organization name such as `google` or `acme`.\n\nNote that you can also update an entity using an upsert through `/entities/create`.\n\nFollow the links for more information:\n  - [Endpoint options](https://docs.unit21.ai/u21/reference/endpoint-options)\n  - [Verification options](https://docs.unit21.ai/u21/reference/identity-verification-options)\n  - [Risk scores](https://dash.readme.com/project/unit21/v1.0/refs/risk-scores)\n  - [Custom data](https://docs.unit21.ai/u21/reference/best-practices-for-custom-data)\n  - [Batch uploads](https://docs.unit21.ai/u21/reference/batch-request-examples)\n  - [Modifying tags](https://docs.unit21.ai/u21/reference/modifying-tags)\n\n\nThe response will consist of the following fields:\n\n  | Field | Type | Description |\n  |-----|-----|-------|\n  | `entity_id`\t             | String   | \tUnique identifier of the entity on your platform     |\n  | `unit21_id`\t             | String   | \tInternal ID of the entity within Unit21's system     |\n  | `previously_existed`\t   | Boolean  | \tIf entity (with the same `entity_id`) already exists |"
      operationId: update_entity_by_external
      parameters:
        - $ref: '#/components/parameters/entity_id'
        - $ref: '#/components/parameters/org_name'
      requestBody:
        description: Any or all of the following objects are accepted
        required: true
        content:
          application/json:
            schema:
              anyOf:
                - $ref: '#/components/schemas/generalEntities'
                - $ref: '#/components/schemas/documentDataArray'
                - $ref: '#/components/schemas/communicationData'
                - $ref: '#/components/schemas/digitalDataArray'
                - $ref: '#/components/schemas/locationDataArray'
                - $ref: '#/components/schemas/riskScores'
                - $ref: '#/components/schemas/entityOptions'
                - $ref: '#/components/schemas/customData'
                - $ref: '#/components/schemas/userData'
                - $ref: '#/components/schemas/businessData'
      responses:
        '200':
          description: OK
          content:
            application/json:
              example:
                entity_id: e910dnc92el
                unit21_id: 32401
  '/entities/{unit21_id}/add-instruments':
    put:
      tags:
        - Entities API
      summary: Add instruments to entity
      description: >-
        Associate an entity with an array of instruments.


        Specify the `instrument_id` of the instrument (and not the `unit21_id`)
        when associating instruments.


        If we do not find any instruments with a corresponding `instrument_id`
        in our system, we will create a
        [placeholder](https://docs.unit21.ai/u21/reference/placeholder-objects)
        for it.


        Instrument details can then be supplemented through the
        `/instruments/create` or `/instruments/update` endpoints.
      operationId: add_instruments_to_entity
      parameters:
        - $ref: '#/components/parameters/unit21_id'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/linkInstrument'
      responses:
        '200':
          description: OK
  '/entities/{unit21_id}/link-media':
    put:
      tags:
        - Entities API
      summary: Add media to an entity
      description: >-
        Adds rich media objects (images, videos, etc.) to an existing entity. 


        This endpoint is useful for sending in rich media such as profile
        pictures, ID card scans, official documents etc.  that you want
        available for investigative and verification purposes.


        The payload to this endpoint can either be a **form-data** or a
        **base64** encoded media file via the requests JSON body.


        **Form-data** sent to this endpoint must use the key `media_key` and the
        `value` as the media file.  If you wish to provide optional information,
        use the `media_key` and provide stringified JSON data as the value. 
        There are no required fields in each media file's supplementary form
        data. However, if a recognized `media_type` value is provided,  the
        Unit21 system will be able to use the media object for purposes such as
        document verification.


        ```
          --form 'document_front=@/src/103031/images/document_front.jpg' \
          --form 'document_front={"media_type": "IMAGE_ID_CARD_FRONT", "source": "passport_app", "timestamp": 1572673229}'
        ```


        **Base64** encoded media objects must follow the format:


        ```json
          {
            "media": "iVBORw0KGgoAAAANSUhEUgAAAQMAAADCCAYAAABNEqduAAAgAElEQVR4Aey9CbgmV1Xv...",
            "name": "Drivers License",
            "media_type": "IMAGE_DRIVERS_LICENSE_FRONT",
            "custom_data": {
              "internal_notes": "Reviewed by Mitchell on 31 June 2019",
              "reviewers": 3,
              "login": 1638384860,
              "timestamp": "2012-03-40 05:12:41.000Z",
              "daily_email": true,
              "employees": ["John", "Anna", "Peter"],
              "socure_device_session_id": "12121212121212112"
            }
          }
        ```
            
        `media` and `name` are the only required fields for each media object.
        Supplementary form data is sent through the optional `custom_data`
        object.


        For verification purposes, recognized values of `media_type` are: 


          | media_type                  |
          |-----------------------------|
          | IMAGE_PROFILE_PICTURE       |
          | IMAGE_DRIVERS_LICENSE_FRONT |
          | IMAGE_DRIVERS_LICENSE_BACK  |
          | IMAGE_PASSPORT_FRONT        |
          | IMAGE_ID_CARD_FRONT         |
          | IMAGE_ID_CARD_BACK          |
          | IMAGE_FACE_IMAGE            | 
      operationId: link_media_to_entity
      parameters:
        - $ref: '#/components/parameters/unit21_id'
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/linkMediaJSON'
                - $ref: '#/components/schemas/linkMediaForm'
      responses:
        '200':
          description: OK
  /instruments/list:
    post:
      tags:
        - Instruments API
      summary: List instruments
      description: >
        Returns paginated list of of top-level information about instruments. 

        Because the response is paginated, the request body has a `limit` and
        `offset` field. At least one must be filled.

        * `limit`  indicates how many objects the request returns (the page
        maximum is 50)

        * `offset` indicates the offset for pagination. An `offset` value of 1
        starts with the environment's first record.


        The `total_count` field contains the total number of instruments where
        the  `response_count` field contains the number of instruments included
        in the response.
      operationId: list_instruments
      requestBody:
        $ref: '#/components/requestBodies/list'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/listResponse'
              example:
                instruments:
                  - custom_data: null
                    instrument_id: i-512f1b1b-eac2-410d-a80e-afcab151ea61
                    instrument_type: bank_account
                    is_spooled: false
                    parent_instrument_id: null
                    registered_at: null
                    source: null
                    status: inactive
                    tags: []
                    unit21_id: '198374'
                  - custom_data:
                      credit_card_expiration: 01/25
                      credit_card_provider: VISA 13 digit
                    instrument_id: '502099715109'
                    instrument_type: credit_card
                    is_spooled: false
                    parent_instrument_id: null
                    registered_at: null
                    source: null
                    status: inactive
                    tags: []
                    unit21_id: '198373'
                  - custom_data:
                      credit_card_expiration: 11/29
                      credit_card_provider: JCB 16 digit
                    instrument_id: '342735341049060'
                    instrument_type: credit_card
                    is_spooled: false
                    parent_instrument_id: null
                    registered_at: null
                    source: null
                    status: active
                    tags: []
                    unit21_id: '198372'
                  - custom_data: null
                    instrument_id: i-95216b1b-b43b-44ef-9a92-6298565b9c86
                    instrument_type: bank_account
                    is_spooled: false
                    parent_instrument_id: null
                    registered_at: null
                    source: null
                    status: active
                    tags: []
                    unit21_id: '198371'
                response_count: 4
                total_count: 204
  /instruments/create:
    post:
      tags:
        - Instruments API
      summary: Create an instrument
      operationId: create_instrument
      description: "Creates a new instrument, sending instrument data in the request body.\n\nRecommended values for `instrument_type` include: account, crypto_address,  digital_wallet, credit_card, debit_card, gift_card, voucher, check.\n\nIf the `/instruments/create` API is called for an instrument that already exists in our system (i.e.  has an existing `instrument_id`, it is treated it as an  [upsert](https://docs.unit21.ai/u21/reference/should-i-update-or-upsert) and an update on the existing  instrument is performed. The response to the request will then contain the entry `previously_existed: true`. \n\nUnit21 selectively ignores upserts if the request is identical to a previous request. The response to any  ignored upsert will contain the field `ignored: true`. \n\nUpdates to an instrument's `instrument_id` are not allowed.\n\nFollow the links for more information:\n  - [Endpoint options](https://docs.unit21.ai/u21/reference/endpoint-options)\n  - [Custom data](https://docs.unit21.ai/u21/reference/best-practices-for-custom-data)\n  - [Batch uploads](https://docs.unit21.ai/u21/reference/batch-request-examples)\n  - [Modifying tags](https://docs.unit21.ai/u21/reference/modifying-tags)\n\n\nThe response will consist of the following fields:\n\n  | Field                    | Type     | Description                                               |\n  |--------------------------|----------|-----------------------------------------------------------|\n  | `instrument_id`\t         | String   | \tUnique identifier of the instrument on your platform    |\n  | `unit21_id`\t             | String   | \tInternal ID of the entity within Unit21's system        |\n  | `previously_existed`\t   | Boolean  | \tIf entity (with the same `instrument_id`) already exists|\n"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
                - instrument_id
                - instrument_type
              allOf:
                - $ref: '#/components/schemas/Instruments'
                - $ref: '#/components/schemas/entityArray'
                - $ref: '#/components/schemas/locationDataArray'
                - $ref: '#/components/schemas/digitalData'
                - $ref: '#/components/schemas/customData'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createInstrumentResponse'
              example:
                instrument_id: inst-235-r431
                previously_existed: false
                unit21_id: '134755129'
  '/instruments/{unit21_id}':
    get:
      tags:
        - Instruments API
      summary: Get an instrument
      description: >-
        Returns all data objects belonging to a single instrument.


        This endpoint requires the `unit21_id` which is a unique ID created by
        Unit21 when the entity is first created.
      operationId: get_instrument_by_unit21_id
      parameters:
        - $ref: '#/components/parameters/unit21_id'
      responses:
        '200':
          description: OK
          content:
            application/json:
              example:
                custom_data: null
                instrument_id: i-f8bc4f6b-b59a-4bd0-ba86-aff547a3a7ce
                instrument_type: bank_account
                is_spooled: false
                parent_instrument_id: null
                registered_at: null
                source: null
                status: inactive
                tags: []
                unit21_id: '198446'
  '/{org_name}/instruments/{entity_id}':
    get:
      tags:
        - Instruments API
      summary: Get an instrument using external ID
      description: >-
        Returns all data objects belonging to a single instrument.


        This endpoint requires the `instrument_id` which is a unique ID created
        by your organization to identify the instrument. The `org_name` is your
        Unit21 appointed organization name such as `google` or `acme`.
      operationId: get_instrument_by_external
      parameters:
        - $ref: '#/components/parameters/instrument_id'
        - $ref: '#/components/parameters/org_name'
      responses:
        '200':
          description: OK
          content:
            application/json:
              example:
                custom_data: null
                instrument_id: i-f8bc4f6b-b59a-4bd0-ba86-aff547a3a7ce
                instrument_type: bank_account
                is_spooled: false
                parent_instrument_id: null
                registered_at: null
                source: null
                status: inactive
                tags: []
                unit21_id: '198446'
  '/instruments/{unit21_id}/update':
    put:
      tags:
        - Instruments API
      summary: Update an instrument
      description: "Updates an instrument's information using the `unit21_id`.\n\nUpdating an instrument has no required fields. You MAY send any subset of the fields that the `instruments/create` endpoint accepts.\n\nThis endpoint requires the `unit21_id` which is a unique ID created by Unit21 when the instrument is first created.\n\nNote that you can also update an instrument using an upsert through `/instruments/create`.\n\nFollow the links for more information:\n  - [Endpoint options](https://docs.unit21.ai/u21/reference/endpoint-options)\n  - [Custom data](https://docs.unit21.ai/u21/reference/best-practices-for-custom-data)\n  - [Batch uploads](https://docs.unit21.ai/u21/reference/batch-request-examples)\n  - [Modifying tags](https://docs.unit21.ai/u21/reference/modifying-tags)\n\n\nThe response will consist of the following fields:\n\n  | Field                    | Type     | Description                                                |\n  |--------------------------|----------|------------------------------------------------------------|\n  | `instrument_id`\t         | String   | \tUnique identifier of the instrument on your platform     |\n  | `unit21_id`\t             | String   | \tInternal ID of the entity within Unit21's system         |\n  | `previously_existed`\t   | Boolean  | \tIf entity (with the same `instrument_id`) already exists |\n"
      operationId: update_instrument
      parameters:
        - $ref: '#/components/parameters/unit21_id'
      requestBody:
        content:
          application/json:
            schema:
              anyOf:
                - $ref: '#/components/schemas/Instruments'
                - $ref: '#/components/schemas/entityArray'
                - $ref: '#/components/schemas/locationDataArray'
                - $ref: '#/components/schemas/digitalData'
                - $ref: '#/components/schemas/customData'
      responses:
        '200':
          description: OK
          content:
            application/json:
              example:
                instrument_id: 3234-sdghfdf-3332
                unit21_id: '49073'
  '/{org_name}/instruments/{instrument_id}/update':
    put:
      tags:
        - Instruments API
      summary: Update instrument using external ID
      description: "Updates an instrument's information using the `instrument_id` from your platform. \n\nUpdating an instrument has no required fields. You MAY send any  subset of the fields that the `instruments/create` endpoint accepts.\n\nThis endpoint requires the `instrument_id` which is a unique ID created by your organization to identify the instrument. The `org_name` is your Unit21 appointed organization name such as `google` or `acme`.\n\nNote that you can also update an instrument using an upsert through `/instruments/create`.\n\nFollow the links for more information:\n  - [Endpoint options](https://docs.unit21.ai/u21/reference/endpoint-options)\n  - [Custom data](https://docs.unit21.ai/u21/reference/best-practices-for-custom-data)\n  - [Batch uploads](https://docs.unit21.ai/u21/reference/batch-request-examples)\n  - [Modifying tags](https://docs.unit21.ai/u21/reference/modifying-tags)\n\n\nThe response will consist of the following fields:\n\n  | Field                    | Type     | Description                                                |\n  |--------------------------|----------|------------------------------------------------------------|\n  | `instrument_id`\t         | String   | \tUnique identifier of the instrument on your platform     |\n  | `unit21_id`\t             | String   | \tInternal ID of the entity within Unit21's system         |\n  | `previously_existed`\t   | Boolean  | \tIf entity (with the same `instrument_id`) already exists |"
      operationId: update_instrument_by_external
      parameters:
        - $ref: '#/components/parameters/instrument_id'
        - $ref: '#/components/parameters/org_name'
      requestBody:
        content:
          application/json:
            schema:
              anyOf:
                - $ref: '#/components/schemas/Instruments'
                - $ref: '#/components/schemas/entityArray'
                - $ref: '#/components/schemas/locationDataArray'
                - $ref: '#/components/schemas/digitalData'
                - $ref: '#/components/schemas/customData'
      responses:
        '200':
          description: OK
          content:
            application/json:
              example:
                instrument_id: 3234-sdghfdf-3332
                unit21_id: '49073'
  /devices/list:
    post:
      tags:
        - Devices API
      summary: List devices
      description: >
        Returns paginated list of of top-level information about devices. 

        Because the response is paginated, the request body has a `limit` and
        `offset` field. At least one must be filled.

        * `limit`  indicates how many objects the request returns (the page
        maximum is 50)

        * `offset` indicates the offset for pagination. An `offset` value of 1
        starts with the environment's first record.


        The `total_count` field contains the total number of devices where the 
        `response_count` field contains the number of devices included in the
        response.
      operationId: list_devices
      requestBody:
        $ref: '#/components/requestBodies/list'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listResponse'
              example:
                devices:
                  devices:
                    - app_version: 5.44.5
                      custom_data: null
                      device_id: 11b72726-18d6-43b3-a0bf-b4adf6d576474
                      device_manufacturer: samsung
                      device_model: SM-N970U
                      device_subtype: ios
                      device_type: mobile
                      entities:
                        - entity_id: userA-11b72726-18d6-43b3-a0bf-b4adf6dfd2da
                          entity_type: user
                          unit21_id: 571485314
                      is_spooled: false
                      network_carrier: AT&T
                      network_cellular: false
                      os_name: Android
                      os_version: '10'
                      phone_numbers:
                        - '+1234567890'
                      registered_at: 1572672326
                      status: active
                      tags:
                        - 'sector:europe'
                      timezone: America/Los_Angeles
                      unit21_id: '601'
                    - app_version: 5.44.5
                      custom_data:
                        nft_asset_hash: 59790095
                        nft_copies: 2250
                        nft_creator: cryptocomnft
                        nft_creator_id: '792843'
                        nft_edition: 567
                        nft_name: The 24/7 Trader
                      device_id: 132926-18dewew6-43b3-a0bf-b1234
                      device_manufacturer: samsung
                      device_model: SM-N970U
                      device_subtype: android
                      device_type: mobile
                      entities:
                        - entity_id: userA-11b72726-18d6-43b3-a0bf-b4adf6dfd2da
                          entity_type: user
                          unit21_id: 571485314
                      is_spooled: false
                      network_carrier: KTV
                      network_cellular: true
                      os_name: Android
                      os_version: '10'
                      phone_numbers:
                        - '+1234567890'
                      registered_at: 1572672326
                      status: active
                      tags:
                        - 'sector:korea'
                      timezone: Seoul
                      unit21_id: '436'
                  response_count: 2
                  total_count: 16
  /devices/create:
    post:
      tags:
        - Devices API
      summary: Create a device
      operationId: create_device
      description: "Creates a new device, sending device data in the request body.\n\nRecommended values for `instrument_type` include: account, crypto_address,  digital_wallet, credit_card, debit_card, gift_card, voucher, check.\n\nIf the `/devices/create` API is called for an device that already exists in our system (i.e.  has an existing `device_id`, it is treated it as an  [upsert](https://docs.unit21.ai/u21/reference/should-i-update-or-upsert) and an update on the existing device is performed. The response to the request will then contain the entry `previously_existed: true`. \n\nUnit21 selectively ignores upserts if the request is identical to a previous request.  The response to any isgnored upsert will  contain the field `ignored: true`.\n\nUpdates to an device's `device_id` are not allowed.\n\nFollow the links for more information:\n  - [Endpoint options](https://docs.unit21.ai/u21/reference/endpoint-options)\n  - [Custom data](https://docs.unit21.ai/u21/reference/best-practices-for-custom-data)\n  - [Batch uploads](https://docs.unit21.ai/u21/reference/batch-request-examples)\n  - [Modifying tags](https://docs.unit21.ai/u21/reference/modifying-tags)\n\n\nThe response will consist of the following fields:\n\n  | Field                    | Type     | Description                                            |\n  |--------------------------|----------|--------------------------------------------------------|\n  | `device_id`\t             | String   | \tUnique identifier of the device on your platform     |\n  | `unit21_id`\t             | String   | \tInternal ID of the device within Unit21's system     |\n  | `previously_existed`\t   | Boolean  | \tIf entity (with the same `device_id`) already exists |\n"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/Devices'
              anyOf:
                - $ref: '#/components/schemas/entityArray'
                - $ref: '#/components/schemas/locationDataArray'
                - $ref: '#/components/schemas/digitalData'
                - $ref: '#/components/schemas/customData'
            example:
              device_id: 11b72726-18d6-43b3-a0bf-b4adf6dfd2da
              device_type: mobile
              device_subtype: android
              status: active
              registered_at: 1623365011
              os_name: Android
              os_version: 10.1.x
              app_version: 5.44.4
              device_manufacturer: samsung
              device_model: SM-N970U
              timezone: UTC-7
              network_carrier: T-Mobile
              network_cellular: true
              phone_numbers:
                - '+14159627132'
              entities:
                - entity_id: u-3593dece-6642-4cdc-8547-aafc1454e0a0
                  entity_type: user
              tags:
                - 'Sector:Europe'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createDeviceResponse'
              example:
                device_id: device-3232
                previously_existed: true
                unit21_id: '403746'
  '/devices/{unit21_id}':
    get:
      tags:
        - Devices API
      summary: Get a device
      description: >-
        Returns all data objects belonging to a single device.


        This endpoint requires the `unit21_id` which is a unique ID created by
        Unit21 when the device is first created.
      operationId: get_device_by_unit21_id
      parameters:
        - $ref: '#/components/parameters/unit21_id'
      responses:
        '200':
          description: OK
          content:
            application/json:
              example:
                app_version: 5.44.5
                custom_data: null
                device_id: 11b72726-18d6-43b3-a0bf-b4adf6d576474
                device_manufacturer: samsung
                device_model: SM-N970U
                device_subtype: ios
                device_type: mobile
                entities:
                  - entity_id: userA-11b72726-18d6-43b3-a0bf-b4adf6dfd2da
                    entity_type: user
                    unit21_id: 571485314
                is_spooled: false
                network_carrier: AT&T
                network_cellular: false
                os_name: Android
                os_version: '10'
                phone_numbers:
                  - '+1234567890'
                registered_at: 1572672326
                status: active
                tags:
                  - 'sector:europe'
                timezone: America/Los_Angeles
                unit21_id: '601'
  '/{org_name}/devices/{device_id}':
    get:
      tags:
        - Devices API
      summary: Get a device using external ID
      description: >-
        Returns all data objects belonging to a single device.


        This endpoint requires the `device_id` which is a unique ID created by
        your organization to identify the device. The `org_name` is your Unit21
        appointed organization name such as `google` or `acme`.
      operationId: get_device_by_external
      parameters:
        - $ref: '#/components/parameters/device_id'
        - $ref: '#/components/parameters/org_name'
      responses:
        '200':
          description: OK
          content:
            application/json:
              example:
                app_version: 5.44.5
                custom_data: null
                device_id: 11b72726-18d6-43b3-a0bf-b4adf6d576474
                device_manufacturer: samsung
                device_model: SM-N970U
                device_subtype: ios
                device_type: mobile
                entities:
                  - entity_id: userA-11b72726-18d6-43b3-a0bf-b4adf6dfd2da
                    entity_type: user
                    unit21_id: 571485314
                is_spooled: false
                network_carrier: AT&T
                network_cellular: false
                os_name: Android
                os_version: '10'
                phone_numbers:
                  - '+1234567890'
                registered_at: 1572672326
                status: active
                tags:
                  - 'sector:europe'
                timezone: America/Los_Angeles
                unit21_id: '601'
  '/devices/update/{unit21_id}':
    put:
      tags:
        - Devices API
      summary: Update a device
      description: "Updates a device's information using the `unit21_id`. \n\nUpdating an device has no required fields. You MAY send any subset of the fields that the `devices/create` endpoint accepts.\n\nThis endpoint requires the `unit21_id` which is a unique ID created by Unit21 when the device is first created.\n\nNote that you can also update a device using an upsert through `/devices/create`.\n\nFollow the links for more information:\n  - [Endpoint options](https://docs.unit21.ai/u21/reference/endpoint-options)\n  - [Custom data](https://docs.unit21.ai/u21/reference/best-practices-for-custom-data)\n  - [Batch uploads](https://docs.unit21.ai/u21/reference/batch-request-examples)\n  - [Modifying tags](https://docs.unit21.ai/u21/reference/modifying-tags)\n\n\nThe response will consist of the following fields:\n\n  | Field                    | Type     | Description                                            |\n  |--------------------------|----------|--------------------------------------------------------|\n  | `device_id`\t             | String   | \tUnique identifier of the device on your platform     |\n  | `unit21_id`\t             | String   | \tInternal ID of the device within Unit21's system     |\n  | `previously_existed`\t   | Boolean  | \tIf entity (with the same `device_id`) already exists |\n"
      operationId: update_device
      parameters:
        - $ref: '#/components/parameters/unit21_id'
      requestBody:
        content:
          application/json:
            schema:
              anyOf:
                - $ref: '#/components/schemas/Devices'
                - $ref: '#/components/schemas/entityArray'
                - $ref: '#/components/schemas/customData'
                - $ref: '#/components/schemas/locationDataArray'
                - $ref: '#/components/schemas/digitalData'
              example:
                device_id: 11b72726-18d6-43b3-a0bf-b4adf6dfd2da
                device_type: mobile
                device_subtype: android
                status: active
                registered_at: 1623365011
                os_name: Android
                os_version: 10.1.x
                app_version: 5.44.4
                device_manufacturer: samsung
                device_model: SM-N970U
                timezone: UTC-7
                network_carrier: T-Mobile
                network_cellular: true
                phone_numbers:
                  - '+14159627132'
                tags:
                  - 'Sector:Europe'
      responses:
        '200':
          description: OK
          content:
            application/json:
              example:
                device_id: 3234-sdghfdf-3332
                unit21_id: '49073'
  '/{org_name}/devices/{device_id}/update':
    put:
      tags:
        - Devices API
      summary: Update device using external ID
      description: "Updates an device's information using the `device_id` from your platform. \n\nUpdating a device has no required fields. You MAY send any  subset of the fields that the `devices/create` endpoint accepts.\n\nThis endpoint requires the `device_id` which is a unique ID created by your organization to identify the device. The `org_name` is your Unit21 appointed organization name such as `google` or `acme`.\n\nNote that you can also update a device using an upsert through `/devices/create`.\n\nFollow the links for more information:\n  - [Endpoint options](https://docs.unit21.ai/u21/reference/endpoint-options)\n  - [Custom data](https://docs.unit21.ai/u21/reference/best-practices-for-custom-data)\n  - [Batch uploads](https://docs.unit21.ai/u21/reference/batch-request-examples)\n  - [Modifying tags](https://docs.unit21.ai/u21/reference/modifying-tags)\n\n\nThe response will consist of the following fields:\n\n  | Field                    | Type     | Description                                            |\n  |--------------------------|----------|--------------------------------------------------------|\n  | `device_id`\t             | String   | \tUnique identifier of the device on your platform     |\n  | `unit21_id`\t             | String   | \tInternal ID of the device within Unit21's system     |\n  | `previously_existed`\t   | Boolean  | \tIf entity (with the same `device_id`) already exists |"
      operationId: update_device_by_external
      parameters:
        - $ref: '#/components/parameters/device_id'
        - $ref: '#/components/parameters/org_name'
      requestBody:
        content:
          application/json:
            schema:
              anyOf:
                - $ref: '#/components/schemas/Devices'
                - $ref: '#/components/schemas/customData'
      responses:
        '200':
          description: OK
          content:
            application/json:
              example:
                device_id: 3234-sdghfdf-3332
                unit21_id: '49073'
  /events/list:
    post:
      tags:
        - Events API
      summary: List events
      description: >
        Returns an array of top-level information about events in your
        environment.


        Because the response is paginated, the request body has a `limit` and
        `offset` field. At least one must be filled.

        * `limit`  indicates how many objects the request returns (the page
        maximum is 50)

        * `offset` indicates the offset for pagination. An `offset` value of 1
        starts with the environment's first record.


        The `total_count` field contains the total number of events where the 
        `response_count` field contains the number of events included in the
        response.
      operationId: list_events
      requestBody:
        $ref: '#/components/requestBodies/list'
      responses:
        '200':
          description: Successfully returned events
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/listResponse'
              example:
                events:
                  - custom_data: {}
                    digital_data:
                      client_fingerprint: null
                      ip_address: null
                    general_data:
                      event_id: t-b168d85a-c660-418e-94d8-f50eeb46057d
                      event_subtype: credit_card
                      event_time: 1586950374
                      event_type: transaction
                      is_spooled: false
                      status: complete
                      tags: []
                    is_cold_store: false
                    location_data: null
                    transaction_data:
                      amount: 4646.34
                      exchange_rate: null
                      external_fee: null
                      internal_fee: null
                      received_amount: 4646.34
                      received_currency: usd
                      receiver_entity_id: u-1745d3b5-ea12-4479-ba2d-18e2e8601042
                      receiver_entity_type: user
                      receiver_instrument_id: '30504733005354'
                      receiver_source: internal
                      sender_entity_id: u-b6df7ada-d644-41ec-af0b-7d5875336712
                      sender_entity_type: user
                      sender_instrument_id: '3560510398609341'
                      sender_source: internal
                      sent_amount: 4646.34
                      sent_currency: usd
                      usd_conversion_notes: null
                    unit21_id: '2633544'
                  - custom_data: {}
                    digital_data:
                      client_fingerprint: null
                      ip_address: null
                    general_data:
                      event_id: t-9030cdce-2b43-40f1-832a-2ee264a41945
                      event_subtype: credit_card
                      event_time: 1586779444
                      event_type: transaction
                      is_spooled: false
                      status: complete
                      tags: []
                    is_cold_store: false
                    location_data: null
                    transaction_data:
                      amount: 14524.1
                      exchange_rate: null
                      external_fee: null
                      internal_fee: null
                      received_amount: 14524.1
                      received_currency: usd
                      receiver_entity_id: u-7b517e52-3324-4722-a2ff-60779d43ec6d
                      receiver_entity_type: user
                      receiver_instrument_id: i-4f88438d-1c4a-4a06-a1f0-d692c0bb4baa
                      receiver_source: internal
                      sender_entity_id: u-eca597f1-9e7f-45ca-b635-48723f60feb7
                      sender_entity_type: user
                      sender_instrument_id: i-7b977420-976f-4714-93bf-379c4dd5732f
                      sender_source: internal
                      sent_amount: 14524.1
                      sent_currency: usd
                      usd_conversion_notes: null
                    unit21_id: '2633543'
                    response_count: 2
                    total_count: 2000
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '423':
          $ref: '#/components/responses/423'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '503':
          $ref: '#/components/responses/503'
  /events/create:
    post:
      tags:
        - Events API
      summary: Create an event
      operationId: create_event
      description: "Creates a new event, sending event data in the request body. \n\nTwo objects are required: `general_data` and either `transaction_data` or `action_data`. `general_data` requires the fields: `event_id`, `event_type`, and `event_time`. `transaction_data` requires only the field `amount`.\n\nUnlike entities, events on our system are cannot be explicitly updated. However, they can be  overwritten in a naive upsert-overwrite fashion. \n\nIf we receive a request to create an event for an `event_id` that already exists in our system,  we will simply overwrite that previous entry with the newly provided data if this transaction  is not already associated with other articles in our system. \n\nFor instance, if a transaction is flagged in an alert and we receive a request to overwrite  the details of this transaction, we will respond with a **409 error code** indicating that this  event cannot be overwritten.\n\nUpdates to an event's `general_data.event_id` are not allowed.\n\nFollow the links for more information:\n  - [Endpoint options](https://docs.unit21.ai/u21/reference/endpoint-options)\n  - [Verification options](https://docs.unit21.ai/u21/reference/identity-verification-options)\n  - [Risk scores](https://dash.readme.com/project/unit21/v1.0/refs/risk-scores)\n  - [Custom data](https://docs.unit21.ai/u21/reference/best-practices-for-custom-data)\n  - [Batch uploads](https://docs.unit21.ai/u21/reference/batch-request-examples)\n  - [Modifying tags](https://docs.unit21.ai/u21/reference/modifying-tags)\n\n\nThe response will consist of the following fields:\n\n  | Field                    | Type     | Description                                            |\n  |--------------------------|----------|--------------------------------------------------------|\n  | `event_id`\t             | String   | \tUnique identifier of the event on your platform      |\n  | `unit21_id`\t             | String   | \tInternal ID of the event within Unit21's system      |\n  | `previously_existed`\t   | Boolean  | \tIf entity (with the same `event_id`) already exists  |\n"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/generalEvents'
                - $ref: '#/components/schemas/transactionData'
                - $ref: '#/components/schemas/actionData'
                - $ref: '#/components/schemas/digitalData'
                - $ref: '#/components/schemas/locationData'
                - $ref: '#/components/schemas/customData'
                - $ref: '#/components/schemas/eventOptions'
              example:
                general_data:
                  event_id: t-9daaebad-478d-4ea3-bbf9-e6320d3f1cea
                  event_type: transaction
                  event_time: 1623365011
                  event_subtype: payment
                  status: active
                  device_id: 11b72726-18d6-43b3-a0bf-b4adf6dfd2da
                  parents:
                    event_id: 123
                    event_type: transaction
                  tags:
                    - 'Sector:Europe'
                transaction_data:
                  amount: 13562.83
                  sent_amount: 13562.83
                  sent_currency: USD
                  sender_entity_id: u-371b5091-da30-48a8-936b-7600f9983e80
                  sender_entity_type: user
                  sender_source: internal
                  sender_instrument_id: string
                  received_amount: 13562.83
                  received_currency: USD
                  receiver_entity_id: u-d8e1d453-c205-4996-a935-ff08be01bcd1
                  receiver_entity_type: business
                  receiver_source: internal
                  receiver_instrument_id: t376839428256371
                  exchange_rate: 1.0012
                  usd_conversion_notes: N/A
                  internal_fee: 5
                  external_fee: 5
                action_data:
                  action_type: LOGIN
                  action_details: Through mobile app v0.8.8
                  entity_id: 371c4d7b-0563-4685-aab1
                  entity_type: user
                  instrument_id: 238938823-34347686-39405443
                digital_data:
                  ip_address: 255.255.255.255
                location_data:
                  type: SHIPPING
                  building_number: 6c
                  unit_number: 22a
                  street_name: California Ave
                  city: Redmond
                  state: CA
                  postal_code: 07710-0001
                  country: US
                custom_data:
                  internal_notes: Reviewed by Mitchell on 31 June 2019
                  reviewers: 3
                  login: 1638384860
                  timestamp: '2012-03-40 05:12:41.000Z'
                  daily_email: true
                  employees:
                    - John
                    - Anna
                    - Peter
                  socure_device_session_id: '12121212121212112'
                options:
                  monitor: true
                  resolve_geoip: true
                  link_digital_data_to_entity: true
                  linked_entity: sender
                  merge_custom_data: false
                  list_merge_strategy: union
                  upsert_on_conflict: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              example:
                event_id: 40df948s-0563-aab1-4685
                unit21_id: '43245'
  '/events/{unit21_id}':
    get:
      tags:
        - Events API
      summary: Get an event
      description: >-
        Returns all data objects belonging to a single event.


        This endpoint requires the `unit21_id` which is a unique ID created by
        Unit21 when the entity is first created.
      operationId: get_event_by_unit21_id
      parameters:
        - $ref: '#/components/parameters/unit21_id'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  is_cold_store:
                    description: |
                      `true` if the event has been migrated to coldstore
                    type: boolean
                    example: false
              example:
                general_data:
                  event_id: t-b168d85a-c660-418e-94d8-f50eeb46057d
                  event_subtype: credit_card
                  event_time: 1586950374
                  event_type: transaction
                  is_spooled: false
                  status: complete
                  tags: []
                transaction_data:
                  amount: 4646.34
                  exchange_rate: null
                  external_fee: null
                  internal_fee: null
                  received_amount: 4646.34
                  received_currency: usd
                  receiver_entity_id: u-1745d3b5-ea12-4479-ba2d-18e2e8601042
                  receiver_entity_type: user
                  receiver_instrument_id: '30504733005354'
                  receiver_source: internal
                  sender_entity_id: u-b6df7ada-d644-41ec-af0b-7d5875336712
                  sender_entity_type: user
                  sender_instrument_id: '3560510398609341'
                  sender_source: internal
                  sent_amount: 4646.34
                  sent_currency: usd
                  usd_conversion_notes: null
                unit21_id: '2633544'
                custom_data: {}
                digital_data:
                  client_fingerprint: null
                  ip_address: null
                is_cold_store: false
                location_data: null
  '/{org_name}/events/{event_id}':
    get:
      tags:
        - Events API
      summary: Get an event using external ID
      description: >-
        Returns all data objects belonging to a single event.


        This endpoint requires the `events_id` which is a unique ID created by
        your organization to identify the event. The `org_name` is your Unit21
        appointed organization name such as `google` or `acme`.
      operationId: get_event_by_external
      parameters:
        - $ref: '#/components/parameters/event_id'
        - $ref: '#/components/parameters/org_name'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  is_cold_store:
                    description: |
                      `true` if the event has been migrated to coldstore
                    type: boolean
                    example: false
              example:
                general_data:
                  event_id: t-b168d85a-c660-418e-94d8-f50eeb46057d
                  event_subtype: credit_card
                  event_time: 1586950374
                  event_type: transaction
                  is_spooled: false
                  status: complete
                  tags: []
                transaction_data:
                  amount: 4646.34
                  exchange_rate: null
                  external_fee: null
                  internal_fee: null
                  received_amount: 4646.34
                  received_currency: usd
                  receiver_entity_id: u-1745d3b5-ea12-4479-ba2d-18e2e8601042
                  receiver_entity_type: user
                  receiver_instrument_id: '30504733005354'
                  receiver_source: internal
                  sender_entity_id: u-b6df7ada-d644-41ec-af0b-7d5875336712
                  sender_entity_type: user
                  sender_instrument_id: '3560510398609341'
                  sender_source: internal
                  sent_amount: 4646.34
                  sent_currency: usd
                  usd_conversion_notes: null
                unit21_id: '2633544'
                custom_data: {}
                digital_data:
                  client_fingerprint: null
                  ip_address: null
                is_cold_store: false
                location_data: null
  '/events/{unit21_id}/update':
    put:
      tags:
        - Events API
      summary: Update event
      description: "Updates an event's information using the `unit21_id`.\n\nUpdating an event has no required fields. You MAY send any subset of the fields that the `entities/create` endpoint accepts.\n\nThis endpoint requires the `unit21_id` which is a unique ID created by Unit21 when the event is first created.\n\nNote that you can also update an event using an upsert through `/events/create`.\n\nFollow the links for more information:\n  - [Endpoint options](https://docs.unit21.ai/u21/reference/endpoint-options)\n  - [Custom data](https://docs.unit21.ai/u21/reference/best-practices-for-custom-data)\n  - [Batch uploads](https://docs.unit21.ai/u21/reference/batch-request-examples)\n  - [Modifying tags](https://docs.unit21.ai/u21/reference/modifying-tags)\n\n\nThe response will consist of the following fields:\n\n  | Field                    | Type     | Description                                            |\n  |--------------------------|----------|--------------------------------------------------------|\n  | `event_id`\t             | String   | \tUnique identifier of the event on your platform      |\n  | `unit21_id`\t             | String   | \tInternal ID of the event within Unit21's system      |\n  | `previously_existed`\t   | Boolean  | \tIf entity (with the same `event_id`) already exists  |\n"
      operationId: update_event
      parameters:
        - $ref: '#/components/parameters/unit21_id'
      requestBody:
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/eventOptions'
              anyOf:
                - $ref: '#/components/schemas/generalEvents'
                - $ref: '#/components/schemas/transactionData'
                - $ref: '#/components/schemas/actionData'
                - $ref: '#/components/schemas/locationData'
                - $ref: '#/components/schemas/digitalData'
                - $ref: '#/components/schemas/customData'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createEventResponse'
              example:
                event_id: t-9daaebad-478d-4ea3-bbf9-e6320d3f1cea
                previously_existed: true
                unit21_id: '2633581'
  '/{org_name}/events/{event_id}/update':
    put:
      tags:
        - Events API
      summary: Update event using external ID
      description: "Update an event using the `event_id` from your platform. \n\nUpdating an event has no required fields. You MAY send any  subset of the fields that the events/create endpoint accepts.\n\nThis endpoint requires the `event_id` which is a unique ID created by your organization to identify the event. The `org_name` is your Unit21 appointed organization name such as `google` or `acme`.\n\nNote that you can also update an event using an upsert through `/events/create`.\n\nFollow the links for more information:\n  - [Endpoint options](https://docs.unit21.ai/u21/reference/endpoint-options)\n  - [Custom data](https://docs.unit21.ai/u21/reference/best-practices-for-custom-data)\n  - [Batch uploads](https://docs.unit21.ai/u21/reference/batch-request-examples)\n  - [Modifying tags](https://docs.unit21.ai/u21/reference/modifying-tags)\n\n\nThe response will consist of the following fields:\n  | Field                    | Type     | Description                                            |\n  |--------------------------|----------|--------------------------------------------------------|\n  | `event_id`\t             | String   | \tUnique identifier of the event on your platform      |\n  | `unit21_id`\t             | String   | \tInternal ID of the event within Unit21's system      |\n  | `previously_existed`\t   | Boolean  | \tIf entity (with the same `event_id`) already exists  |"
      operationId: update_event_by_external
      parameters:
        - $ref: '#/components/parameters/event_id'
        - $ref: '#/components/parameters/org_name'
      requestBody:
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/eventOptions'
              anyOf:
                - $ref: '#/components/schemas/generalEvents'
                - $ref: '#/components/schemas/digitalData'
                - $ref: '#/components/schemas/locationData'
                - $ref: '#/components/schemas/transactionData'
                - $ref: '#/components/schemas/actionData'
      responses:
        '200':
          description: OK
          content:
            application/json:
              example:
                event_id: t-7d258c89-de60-4acd-acc8-db62506953d3
                unit21_id: '2633554'
  /rules/list:
    post:
      tags:
        - Rules API
      summary: List rules
      description: >-
        Returns paginated list of of top-level information about rules.     

        Because the response is paginated, the request body has a `limit` and
        `offset` field. At least one must be filled.

        * `limit`  indicates how many objects the request returns (the page
        maximum is 50)

        * `offset` indicates the offset for pagination. An `offset` value of 1
        starts with the environment's first record.


        The `total_count` field contains the total number of rules where the 
        `response_count` field contains the number of rules included in the
        response.
      operationId: list_rules
      requestBody:
        $ref: '#/components/requestBodies/list'
      responses:
        '200':
          description: OK
          content:
            application/json:
              example:
                response_count: 2
                rules:
                  - created_at: 1634336166
                    deploy_end_date: null
                    deploy_start_date: 1626307200
                    description: test
                    frequency: 1m
                    lookback_period: 365d
                    rule_type: standard
                    source: INTERNAL
                    status: ACTIVE
                    tags: []
                    title: tessst
                    unit21_id: '9097753'
                  - created_at: 1634328286
                    deploy_end_date: 1634328000
                    deploy_start_date: 1631736000
                    description: test
                    frequency: 1m
                    lookback_period: 365d
                    rule_type: standard
                    source: INTERNAL
                    status: INACTIVE
                    tags:
                      - 'account_type:market2'
                    title: test
                    unit21_id: '9097723'
                total_count: 132
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '423':
          $ref: '#/components/responses/423'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '503':
          $ref: '#/components/responses/503'
  '/rules/{unit21_id}':
    get:
      tags:
        - Rules API
      summary: Get a rule
      description: >-
        Returns all data objects belonging to a single rule.


        This endpoint requires the `unit21_id` which is a unique ID created by
        Unit21 when the rule is first created.
      operationId: read_one_rule
      parameters:
        - $ref: '#/components/parameters/unit21_id'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                example:
                  created_at: 1634336166
                  deploy_end_date: null
                  deploy_start_date: 1626307200
                  description: test
                  frequency: 1m
                  lookback_period: 365d
                  rule_type: standard
                  source: INTERNAL
                  status: ACTIVE
                  tags: []
                  title: tessst
                  unit21_id: '9097753'
  /alerts/list:
    post:
      tags:
        - Alerts API
      summary: List alerts
      description: >
        Returns an array of top-level information about alerts in your
        environment.


        Because the response is paginated, the request body has a `limit` and
        `offset` field. At least one must be filled.

        * `limit`  indicates how many objects the request returns (the page
        maximum is 50)

        * `offset` indicates the offset for pagination. An `offset` value of 1
        starts with the environment's first record.


        To narrow down your alert search, we provide filter parameters to this
        endpoint. Note that all list inputs function as an "or" filter, as in
        any one of the values must match the selected alert(s):


          | Field                   | Type        | Description                                                                                                       |
          | ----------------------- | ----------- | ----------------------------------------------------------------------------------------------------------------- |
          | `types`                 | String[]    | Must be list of alert types: `tm`, `kyc`                                                                          |
          | `created_after`         | Numeric     | Alerts created on or after this unix timestamp                                                                    |
          | `created_before`        | Numeric     | Alerts created before this unix timestamp                                                                         |
          | `dispositions`          | String[]    | List of alert disposition states (defined on an integration basis)                                                |
          | `dispositioned_after`   | Numeric     | Alerts with a disposition most recently updated after this unix timestamp                                         |
          | `dispositioned_before`  | Numeric     | Alerts with a disposition most recently updated before this unix timestamp                                        |
          | `dispositioned_by`      | String[]    | List of agent emails. Returns alerts with a disposition most recently changed by agents in the list               |
          | `rules`                 | Numeric[]   | List of Unit21 rule ids that are associated with the alert                                                        |
          | `associated_entities`   | Numeric[]   | List of Unit21 entity ids associated with this alert                                                              |
          | `associated_events`     | Numeric[]   | List of Unit21 event ids associated with this alert                                                               |
          | `associated_instruments`| Numeric[]   | List of Unit21 instrument ids associated with this alert                                                          |
          | `sources`               | String[]    | Must be list of alert sources: `INTERNAL`, `EXTERNAL`                                                             |
          | `statuses`              | String[]    | Must be list of alert statuses: `OPEN`, `CLOSED`                                                                  |
          | `tag_filters`           | String[]    | List of string tags (`key:value`) or keys to associate this alert with (e.g. `alert_type:high_velocity` or `alert_type`). If only the key is provided, we will match against all tags with that key        |
          | `limit`                 | Numeric     | A limit on the number of objects to be returned. Limit can range between 1 and 50, and the default is 10          |
          | `offset`                | Numeric     | The offset for pagination. Default is 1                                                                           |
          | `options`               | Object      | Options for the data included in the returned alerts. Removing unneeded options can improve response speed        |


        The `total_count` field contains the total number of alerts where the 
        `response_count` field contains the number of alerts included in the
        response.


        Follow the links for more information:
          - [Endpoint options](https://docs.unit21.ai/u21/reference/endpoint-options)
          
      operationId: list_alerts
      requestBody:
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/listRequest'
                - $ref: '#/components/schemas/alertListFilters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/listResponse'
              example:
                alerts:
                  - alert_id: '12345'
                    alert_type: tm
                    assigned_to: person@example.com
                    created_at: 1597739123
                    custom_data: {}
                    description: Alert description
                    disposition: REJECTED
                    dispositioned_at: 1597849123
                    dispositioned_by: person@example.com
                    entities:
                      - entity_id: userA-ef3d5d41-9ac4-4071-b1fe-7dd77c80a4e8
                        entity_type: user
                        resolution: UNRESOLVED
                        unit21_id: 3789
                    events:
                      - event_id: txnBulk-11-ef3d5d41-6bc4-4070-b6ed-4dd77c90a5e8
                        event_type: transaction
                        resolution: UNRESOLVED
                        unit21_id: 98
                    instruments:
                      - instrument_id: instrument-3012850a
                        instrument_type: wallet
                        unit21_id: 427
                        resolution: UNRESOLVED
                    rules:
                      - rule_id: '123'
                        unit21_id: 456
                    source: INTERNAL
                    status: CLOSED
                    tags:
                      - 'scenario_type:blacklist'
                      - 'sameplekey:samplevalue'
                    title: Alert Title
                    unit21_id: 101
                    actions:
                      - subdispositions:
                          - subdisposition: TITLE
                            value: MISSING_DOCUMENTS
                        disposition: REJECTED
                        status_changed_to: CLOSED
                        action_time: 1597849123
                        author: person@example.com
                        disposition_notes: free form agent text describing the action/resaons
                response_count: 1
                total_count: 10
  /alerts/create:
    post:
      tags:
        - Alerts API
      summary: Create alerts
      description: "Creates a new alert, sending alert data in the request body. \nTo create an Alert, you MUST include the following fields: `alert_id`, `alert_type`, `created_at`, `title`, and `status`. The other top-level fields are optional.\n\nIf we receive a request to create an alert for an `alert_id` that already exists in our system,  we will respond with a **409 error code** indicating that this alert cannot be created/updated. You must use the `/alert/update` endpoint to update an alert.\n\nYou can add the following objects to an alert:\n\n  | Field                    | Type     | Description                                                                                                           |\n  |--------------------------|----------|-----------------------------------------------------------------------------------------------------------------------|\n  | `rules`\t                 | String[] | Unique identifier of the rules/triggers/scenarios that triggered this alert                                           |\n  | `events`\t               | Object[] | Transactions affiliated with the alert. Each object must consist of a `event_id` and `event_type` field               |\n  | `entities`\t             | Object[] | Users or businesses affiliated with the alert. Each object must consist of an `entity_id` and `entity_type` field     |\n  | `instruments`\t           | String[] | Unique identifiers of any instruments affiliated with the alert                                                       |\n\n\nPlease note that if `verification_result_id` is included, it will link the entity that is associated  with the verification result with the alert regardless of the `list_merge_strategy` provided in the `options` field.\n\nUpdates to an alert's `alert_id` are not allowed.\n\nFollow the links for more information:\n  - [Endpoint options](https://docs.unit21.ai/u21/reference/endpoint-options)\n  - [Custom data](https://docs.unit21.ai/u21/reference/best-practices-for-custom-data)\n  - [Batch uploads](https://docs.unit21.ai/u21/reference/batch-request-examples)\n  - [Modifying tags](https://docs.unit21.ai/u21/reference/modifying-tags)\n\n\nThe response will consist of the following fields:\n\n  | Field                    | Type     | Description                                             |\n  |--------------------------|----------|---------------------------------------------------------|\n  | `alert_id`\t             | String   | Unique identifier of the alert on your platform         |\n  | `unit21_id`\t             | String   | Internal ID of the alert within Unit21's system         |\n  | `previously_existed`\t   | Boolean  | If alert (with the same `alert_id`) already exists      |\n"
      operationId: create_alert
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/Alerts'
                - $ref: '#/components/schemas/entityArray'
                - $ref: '#/components/schemas/eventArray'
                - $ref: '#/components/schemas/customData'
                - $ref: '#/components/schemas/instrumentArray'
                - $ref: '#/components/schemas/ruleArray'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createAlertResponse'
              example:
                alert_id: alertA-028eb01a-f8d3-42fb-b398-785b596ee4cs
                previously_existed: false
                unit21_id: '36857'
  '/alerts/{unit21_id}':
    get:
      tags:
        - Alerts API
      summary: Get an alert
      description: >-
        Returns all data objects belonging to a single alert.


        This endpoint requires the `unit21_id` which is a unique ID created by
        Unit21 when the entity is first created.
      operationId: get_alert_by_unit21_id
      parameters:
        - $ref: '#/components/parameters/unit21_id'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                example:
                  alert_id: null
                  alert_type: tm
                  assigned_to: null
                  created_at: 1616433282
                  custom_data: {}
                  description: >-
                    Period of no transaction activity for entity
                    u-6833a351-ae5d-4911-a2ca-715294b8ef62 from on 03-25-2020
                    09:47:54 to 04-24-2020 16:42:30
                  disposition: UNRESOLVED
                  dispositioned_at: null
                  dispositioned_by: null
                  entities:
                    - entity_id: u-6833a351-ae5d-4911-a2ca-715294b8ef62
                      entity_type: user
                      resolution: UNRESOLVED
                      unit21_id: 1237436
                  events:
                    - event_id: t-78a3561b-c9ed-4479-8e13-c8b536c44b6c
                      event_type: transaction
                      resolution: UNRESOLVED
                      unit21_id: 2631941
                    - event_id: t-67adf347-bb9d-4d5d-8086-231b9474250a
                      event_type: transaction
                      resolution: UNRESOLVED
                      unit21_id: 2632821
                    - event_id: t-c959cf38-195d-46e7-8f4c-8169de95c425
                      event_type: transaction
                      resolution: UNRESOLVED
                      unit21_id: 2632874
                    - event_id: t-699dd74d-0b5a-4471-ac18-1152a8c4aea4
                      event_type: transaction
                      resolution: UNRESOLVED
                      unit21_id: 2633014
                    - event_id: t-2d974efd-59e3-465b-a438-47a33443dbae
                      event_type: transaction
                      resolution: UNRESOLVED
                      unit21_id: 2633205
                    - event_id: t-82d9aa00-df0f-4999-b81c-84d3865eaf17
                      event_type: transaction
                      resolution: UNRESOLVED
                      unit21_id: 2633222
                  instruments: []
                  rules:
                    - rule_id: null
                      unit21_id: 17517
                  source: INTERNAL
                  status: OPEN
                  tags: []
                  title: >-
                    Rule #17517 (Account Takeover: Profile Deviation - Entities
                    that have a significant period of inactivity and resume
                    business activity with a large or high risk transaction)
                    triggered for entities:
                    u-6833a351-ae5d-4911-a2ca-715294b8ef62
                  unit21_id: '17533'
  '/alerts/{unit21_id}/update':
    put:
      tags:
        - Alerts API
      summary: Update alert
      description: "Updates an alert's information using the `unit21_id`.\n\nUpdating an alert has no required fields. You MAY send any subset of the fields that the `alerts/create` endpoint accepts.\n\nThis endpoint requires the `unit21_id` which is a unique ID created by Unit21 when the entity is first created.\n\nPlease note that if `verification_result_id` is included, it will link the entity that is associated with the  verification result with the alert regardless of the `list_merge_strategy` provided in the `options` field.\n\nFollow the links for more information:\n  - [Endpoint options](https://docs.unit21.ai/u21/reference/endpoint-options)\n  - [Custom data](https://docs.unit21.ai/u21/reference/best-practices-for-custom-data)\n  - [Batch uploads](https://docs.unit21.ai/u21/reference/batch-request-examples)\n  - [Modifying tags](https://docs.unit21.ai/u21/reference/modifying-tags)\n\n\nThe response will consist of the following fields:\n\n  | Field                    | Type     | Description                                             |\n  |--------------------------|----------|---------------------------------------------------------|\n  | `alert_id`\t             | String   | Unique identifier of the alert on your platform         |\n  | `unit21_id`\t             | String   | Internal ID of the alert within Unit21's system         |\n  | `previously_existed`\t   | Boolean  | If alert (with the same `alert_id`) already exists      |"
      operationId: update_alert
      parameters:
        - $ref: '#/components/parameters/unit21_id'
      requestBody:
        content:
          application/json:
            schema:
              anyOf:
                - $ref: '#/components/schemas/Alerts'
                - $ref: '#/components/schemas/customData'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                example:
                  unit21_id: '8483'
                  alert_id: alertA-028eb01a-f8d3-42fb-b398-785b596ee4cb
  '/alerts/{unit21_id}/link-media':
    put:
      tags:
        - Alerts API
      summary: Add media to an alert
      description: >-
        Adds rich media objects (images, videos, etc.) to an existing alert. 


        This endpoint is useful for sending in rich media such as profile
        pictures, ID card scans, official documents etc.  that you want
        available for investigative and verification purposes.


        The payload to this endpoint can either be a **form-data** or a
        **base64** encoded media file via the requests JSON body.


        **Form-data** sent to this endpoint must use the key `media_key` and the
[...]
